/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_icons_lit.css.js
 * #scheme=relative
 * #include=cr-icons-lit
 * #css_wrapper_metadata_end */

:host {
  /* Embedders should define --cr-searchbox-min-width. */
  --cr-searchbox-width: var(--cr-searchbox-min-width);
  --cr-searchbox-border-radius: calc(0.5 * var(--cr-searchbox-height));
  --cr-searchbox-icon-width: 26px;
  --cr-searchbox-inner-icon-margin: 8px;
  --cr-searchbox-voice-icon-offset: 16px;
  --cr-searchbox-voice-search-button-width: 0px;
  --cr-compose-button-width: 104px;
  --cr-searchbox-icon-spacing: 11px;
  border-radius: var(--cr-searchbox-border-radius);
  font-size: var(--cr-searchbox-font-size, 16px);
  height: var(--cr-searchbox-height);
  width: var(--cr-searchbox-width);
  z-index: 99;
}

/* Side panel searchbox should not have a shadow when dropdown isn't visible */
:host([is-lens-searchbox_]:not([dropdown-is-visible])) {
  --cr-searchbox-shadow: none;
}

:host([searchbox-chrome-refresh-theming][dropdown-is-visible]) {
  --cr-searchbox-shadow: 0 0 12px 4px var(--color-searchbox-shadow)
}

:host([searchbox-chrome-refresh-theming]:not([searchbox-steady-state-shadow]):not([dropdown-is-visible])) {
  --cr-searchbox-shadow: none;
}

:host-context([searchbox-width-behavior_='revert']):host([can-show-secondary-side]:not([dropdown-is-visible])) {
  --cr-searchbox-width: var(--cr-searchbox-min-width);
}

/**
 * Show the secondary side if it can be shown and is currently available to be
 * shown.
 */
:host([can-show-secondary-side][has-secondary-side]) {
  --cr-searchbox-secondary-side-display: block;
}

:host([is-dark]) {
  --cr-searchbox-shadow: 0 2px 6px 0 var(--color-searchbox-shadow);
}

:host([searchbox-voice-search-enabled_]) {
  --cr-searchbox-voice-search-button-width: var(--cr-searchbox-icon-width);
}

:host([searchbox-lens-search-enabled_]) {
  --cr-searchbox-voice-icon-offset: 53px;
}

@media (forced-colors: active) {
  :host {
    border: 1px solid ActiveBorder;
  }
}

:host([dropdown-is-visible]:not([is-lens-searchbox_])) {
  box-shadow: none;
}

:host([match-searchbox]) {
  box-shadow: none;
}

:host([match-searchbox]:not([dropdown-is-visible]):hover) {
  border: 1px solid transparent;
  box-shadow: var(--cr-searchbox-shadow);
}

:host([match-searchbox]:not([is-dark]):not([dropdown-is-visible]):not(:hover)) {
  border: 1px solid var(--color-searchbox-border);
}

#inputWrapper {
  background-color: var(--color-searchbox-background);
  border-radius: var(--cr-searchbox-border-radius);
  box-shadow: var(--cr-searchbox-shadow);
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: var(--cr-searchbox-height);
  overflow: hidden;
  width: 100%;
}

:host([is-lens-searchbox_]) #inputWrapper {
  box-shadow: none;
}

:host([multi-line-enabled]) textarea {
  background-color: transparent;
  box-sizing: border-box;
  field-sizing: content;
  line-height: 24px;
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: calc((var(--cr-searchbox-height) - 24px) / 2);
  resize: none;
  scrollbar-width: none;
  white-space: pre-wrap;
}

:host([multi-line-enabled]) #input::-webkit-scrollbar {
  display: none;
}

:is(input, textarea) {
  background-color: transparent;
  border: none;
  color: var(--color-searchbox-foreground);
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  outline: none;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

:host-context([searchbox-layout-mode='Compact']) :is(input, textarea) {
  padding-inline-start: 0;
}

:host-context([multi-line-enabled][searchbox-layout-mode='Compact']) textarea {
  padding-bottom: 10px;
  padding-top: 16px;
}

:host-context(:not([ntp-realbox-next-enabled])) input {
  align-self: center;
  padding-top: 0;
}

:host-context([searchbox-layout-mode='Compact']) input {
  padding-top: 19px;
}

:host([searchbox-chrome-refresh-theming]) :is(input, textarea)::selection {
  background-color: var(--color-searchbox-selection-background);
  color: var(--color-searchbox-selection-foreground)
}

input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* Visually hide the cancel button but do not set display to none or
 * visibility to hidden as this causes issues with NVDA not reading out the
 * full value of the searchbox input as the user selects suggestion matches.
 * See crbug.com/1312442 for more context. */
input::-webkit-search-cancel-button {
  appearance: none;
  margin: 0;
}

:is(input, textarea)::placeholder {
  color: var(--color-searchbox-placeholder);
  opacity: var(--placeholder-opacity);
}

:is(input, textarea):focus::placeholder {
  /* Visually hide the placeholder on focus. The placeholder will still be
   * read by screen readers. Using color: transparent or other ways of
   * visually hiding the placeholder does not work well with 'Find in page...'
   * as the placeholder text can get highlighted. */
  visibility: hidden;
}

:host([is-lens-searchbox_]) :is(input, textarea):focus::placeholder{
  visibility: visible;
}

/* Search bubble realbox input color shouldn't change when dropdown is
 * visible. */
:host([is-lens-searchbox_][dropdown-is-visible]) :is(input, textarea) {
  background-color: var(--color-bubble-searchbox-results-input-background, --color-searchbox-results-background);
}

:host([is-lens-searchbox_]:not([dropdown-is-visible])) :is(input, textarea):focus {
  background-color: var(--color-searchbox-background);
}

cr-searchbox-icon {
  height: 100%;
  padding-inline-end: 4px;
  padding-inline-start: var(--cr-searchbox-icon-left-position);
  position: relative;
  top: var(--cr-searchbox-icon-top-position);
  pointer-events: none;
}

:host(:not([ntp-realbox-next-enabled])) cr-searchbox-icon {
  align-self: center;
}

@media (forced-colors: active) {
  cr-searchbox-icon {
    background-color: Highlight;
    border-radius: 4px;
  }
}

:host-context([is-back-arrow-visible]) #icon {
  display: none;
}

.searchbox-icon-button {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: static;
  right: 16px;
  width: var(--cr-searchbox-icon-width);

}

/* When voice/lens icons are monochrome, they are webkit mask images.
 * Webkit mask images hide borders so container rules are created to
 * show focus borders on these icons. */
.searchbox-icon-button-container {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 36px;
  justify-content: center;
  position: relative;
  width: 36px;
  z-index: 100;
}

:host(:not([ntp-realbox-next-enabled])) .searchbox-icon-button-container {
  align-self: center;
}

@media (forced-colors: active) {
  .searchbox-icon-button-container {
    background-color: ButtonText;
  }
  .searchbox-icon-button-container:focus-within {
    outline: 2px solid Highlight;
    outline-offset: 2px;
  }
}

:host-context(.focus-outline-visible) .searchbox-icon-button-container:focus-within {
  box-shadow: 0 0 0 2px var(--cr-focus-outline-color);
}

:host(:not([use-webkit-search-icons_])) #voiceSearchButton {
  background-image: url(//resources/cr_components/searchbox/icons/mic.svg);
}

:host(:not([use-webkit-search-icons_])) #lensSearchButton {
  background-image: url(//resources/cr_components/searchbox/icons/camera.svg);
}

:host([use-webkit-search-icons_]) #voiceSearchButton {
  -webkit-mask-image: url(//resources/cr_components/searchbox/icons/mic.svg);
}

:host([use-webkit-search-icons_]) #lensSearchButton {
  -webkit-mask-image: url(//resources/cr_components/searchbox/icons/camera.svg);
}

:host([use-webkit-search-icons_]) #voiceSearchButton,
:host([use-webkit-search-icons_]) #lensSearchButton {
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 21px 21px;
  background-color: var(--color-searchbox-lens-voice-icon-background);
}

:host([use-webkit-search-icons_][compose-button-enabled]) #voiceSearchButton,
:host([use-webkit-search-icons_][compose-button-enabled]) #lensSearchButton {
  background-color: #1F1F1F;
}

:host([compose-button-enabled][searchbox-lens-search-enabled_]) {
  --cr-searchbox-voice-icon-offset: calc(16px + 2 * var(--cr-searchbox-icon-spacing) + var(--cr-searchbox-icon-width) + var(--cr-compose-button-width));
}

:host([compose-button-enabled][dropdown-is-visible])
    .searchbox-icon-button-container {
  display: none;
}

:host([searchbox-layout-mode^='Tall']) contextual-entrypoint-and-carousel {
  z-index: 100;
}

:is(input, textarea),
cr-searchbox-icon,
.searchbox-icon-button {
  z-index: 100;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

#thumbnailContainer {
  align-self: center;
  padding-inline: 10px;
  z-index: 101;
}

:host([ntp-realbox-next-enabled]) :is(input, textarea)::placeholder {
  font-size: 18px;
  color: var(--cr-composebox-input-placeholder-color, var(--color-composebox-type-ahead));
  font-weight: 400;
}

:host([ntp-realbox-next-enabled]) :is(input, textarea):focus::placeholder{
  visibility: visible;
}

:host([ntp-realbox-next-enabled]) {
  --cr-searchbox-border-radius: 26px;
  --cr-searchbox-dropdown-padding-bottom: 12px;
  /* Cannot touch this searchbox icon size var;
    it's used by the rainbow outline AI button class in
    searchbox_compose_button.css. Should be different
    from other searchbox icons (composebox, voice, lens). */
  --cr-searchbox-icon-size: 40px;
  --cr-searchbox-voice-lens-size: 36px;
  --contextual-entrypoint-and-carousel-context-menu-container-padding-inline-start: 0px;
  --text-input-inline-start-spacing: 16px;
}

cr-searchbox-dropdown::part(dropdown-content) {
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
  gap: unset;
  margin-bottom: unset;
  overflow: unset;
  padding-top: unset;
}

:host([ntp-realbox-next-enabled]) #inputWrapper {
  height: auto;
  min-height: var(--cr-searchbox-height);
}

:host([ntp-realbox-next-enabled]) contextual-entrypoint-and-carousel::part(context-menu-entrypoint-icon) {
  --cr-icon-button-icon-size: 24px;
  --cr-icon-button-margin-start: 2px;
  --cr-icon-button-size: 36px;
}

:host([ntp-realbox-next-enabled]:not([context-menu-glif-animation-state="ineligible"])) contextual-entrypoint-and-carousel::part(context-menu-entrypoint-icon) {
  /* Account for the margin of the glow container */
  --cr-icon-button-margin-start: 0px;
}

:host([ntp-realbox-next-enabled][searchbox-layout-mode^='Tall']) contextual-entrypoint-and-carousel::part(context-menu-entrypoint-icon) {
  --cr-icon-button-icon-size: 20px;
}

:host([ntp-realbox-next-enabled][searchbox-layout-mode='Compact']) contextual-entrypoint-and-carousel::part(context-menu-and-tools) {
  padding-block: 10px;
}

:host([ntp-realbox-next-enabled]) contextual-entrypoint-and-carousel {
  position: relative;
}

:host([ntp-realbox-next-enabled]) contextual-entrypoint-and-carousel::part(composebox-entrypoint) {
  padding-inline-end: 6px;
  z-index: 101;
}

:host-context([ntp-realbox-next-enabled][context-menu-glif-animation-state="ineligible"]) contextual-entrypoint-and-carousel::part(composebox-entrypoint) {
  padding-inline-end: 14px;
}

:host([ntp-realbox-next-enabled]) contextual-entrypoint-and-carousel::part(tool-chips-container) {
  --contextual-entrypoint-and-carousel-context-menu-container-margin-bottom: 6px;
  position: relative;
  z-index: 100;
}

:host([ntp-realbox-next-enabled]) contextual-entrypoint-and-carousel::part(cr-composebox-file-carousel) {
  margin-top: 16px;
}

:host([ntp-realbox-next-enabled]) .dropdownContainer,
:host([ntp-realbox-next-enabled]) .contextualEntrypointContainer {
  overflow: visible;
}

#inputContainer {
  background-color: var(--color-searchbox-background);
  border-radius: 26px;
  box-shadow: var(--cr-searchbox-shadow);
  display: flex;
  flex-direction: column;
  width: 100%;
}

#inputInnerContainer {
  align-items: flex-start;
  display: flex;
  min-height: 48px;
  position: relative;
  width: 100%;
}

:host([is-lens-searchbox_]) #inputInnerContainer {
  min-height: 52px;
}

:host([searchbox-layout-mode^='Tall']) #inputInnerContainer {
  padding-bottom: 14px;
}

#inputInnerBottomContainer {
  align-items: flex-start;
  display: flex;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

:host([ntp-realbox-next-enabled]) .contextualEntrypointContainer {
  left: unset;
  position: relative;
  right: unset;
  top: unset;
  width: 100%;
}

:host([ntp-realbox-next-enabled][dropdown-is-visible]),
:host([ntp-realbox-next-enabled]:not([context-files-count_="0"])) {
  box-shadow: none;
}

:host([ntp-realbox-next-enabled]) #errorScrim {
  border-radius: 23px;
}

.searchbox-icon-button-container.lens {
  margin-inline-end: 10px;
}

.searchbox-icon-button-container.voice {
  margin-inline-end: 4px;
}

:host([ntp-realbox-next-enabled]) .searchbox-icon-button-container.lens:hover,
:host([ntp-realbox-next-enabled]) .searchbox-icon-button-container.voice:hover {
  background-color: var(--color-new-tab-page-realbox-next-icon-hover);
  border-radius: 50%;
}

:host([searchbox-layout-mode^='Tall']) {
  --cr-searchbox-compose-button-position-top: 12px;
  --cr-searchbox-dropdown-padding-top: 60px;
  --cr-searchbox-height: 108px;
  --cr-searchbox-input-padding-top_: 18px;
}

@media (forced-colors: active) {
  :host([searchbox-layout-mode^='Tall']) .dropdownContainer,
  :host([searchbox-layout-mode^='Tall']) .contextualEntrypointContainer {
    border: 1px solid ActiveBorder;
  }
}

:host([searchbox-layout-mode^='Tall']) input {
  height: 44px;
  padding-top: var(--cr-searchbox-input-padding-top_);
}

:host([multi-line-enabled][searchbox-layout-mode^='Tall']) textarea {
  height: auto;
  padding-top: var(--cr-searchbox-input-padding-top_);
}

:host([searchbox-layout-mode^='Tall']:not([dropdown-is-visible]):not([input-focused_])) :is(input, textarea) {
  padding-inline-start: 24px;
}

:host([searchbox-layout-mode^='Tall']:not([dropdown-is-visible]):not([input-focused_])) cr-searchbox-icon,
:host([searchbox-layout-mode^='Tall'][dropdown-is-visible]) .searchbox-icon-button-container {
  display: none;
}

:host([searchbox-layout-mode^='Tall'][dropdown-is-visible]) cr-searchbox-icon,
:host([searchbox-layout-mode^='Tall'][input-focused_]) cr-searchbox-icon {
  height: 24px;
  top: var(--cr-searchbox-input-padding-top_);
}

:host-context([searchbox-layout-mode^='Tall']) #composeButton {
  --cr-button-height: 36px;
}

:host([searchbox-layout-mode='TallBottomContext'][dropdown-is-visible]) contextual-entrypoint-and-carousel::part(context-menu-and-tools) {
  margin-top: 10px;
}

:host-context([searchbox-layout-mode='TallTopContext']) contextual-entrypoint-and-carousel::part(carousel-divider) {
  margin-top: 10px;
}

:host([searchbox-layout-mode='Compact']) {
  --cr-searchbox-border-radius: 30px;
  --cr-searchbox-dropdown-padding-bottom: 10px;
  --cr-searchbox-dropdown-padding-top: 10px;
  --cr-searchbox-height: 56px;
}

:host([searchbox-layout-mode='Compact']) cr-searchbox-icon {
  display: none;
}

:host([searchbox-layout-mode='Compact']) .searchbox-icon-button-container {
  top: 10px;
}

:host([searchbox-layout-mode='Compact'][compose-button-enabled]
    [searchbox-lens-search-enabled_]) .searchbox-icon-button-container.lens {
  inset-inline-end: calc(var(--cr-searchbox-icon-spacing) + var(--cr-compose-button-width));
}

:host([searchbox-layout-mode='Compact'][compose-button-enabled]
    [searchbox-lens-search-enabled_]) .searchbox-icon-button-container.voice {
  inset-inline-end: calc(var(--cr-searchbox-voice-lens-size)
      + var(--cr-searchbox-icon-spacing) + var(--cr-compose-button-width));
}

:host([ntp-realbox-next-enabled]) contextual-entrypoint-and-carousel::part(voice-icon) {
  --cr-icon-button-fill-color: var(--color-composebox-font-light);
  --cr-icon-button-hover-background-color: var(--color-composebox-context-entrypoint-hover-background);
  --cr-icon-button-margin-end: 0px;
  --cr-icon-button-margin-start: 0px;
  --cr-icon-button-size: 36px;
}

:host([searchbox-layout-mode='TallBottomContext']) contextual-entrypoint-and-carousel::part(voice-icon) {
  bottom: 10px;
  inset-inline-end: 14px;
  position: absolute;
}

:host([searchbox-layout-mode='TallTopContext']) contextual-entrypoint-and-carousel::part(voice-icon) {
  margin-inline-end: 14px;
  margin-inline-start: auto;
  position: static;
}

:host([searchbox-layout-mode='Compact']) contextual-entrypoint-and-carousel::part(voice-icon) {
  margin-inline-end: calc(var(--cr-compose-button-width));
  margin-inline-start: auto;
  z-index: 100;
}

:host([searchbox-layout-mode="Compact"]) {
  /* Used in search-animated-glow-element. */
  --search-animated-glow-drag-drop-placeholder-top: 16px;
}

:host([ntp-realbox-next-enabled][is-dragging-file]) {
  --cr-searchbox-compose-button-z-index: 99;
}

:host([ntp-realbox-next-enabled][is-dragging-file]) :is(input, textarea),
:host([ntp-realbox-next-enabled][is-dragging-file]) cr-searchbox-icon,
:host([ntp-realbox-next-enabled][is-dragging-file]) .searchbox-icon-button-container,
:host([ntp-realbox-next-enabled][is-dragging-file]) .searchbox-icon-button {
  opacity: 0;
}

#recentTabChipContainer {
  padding-bottom: 10px;
  padding-inline: 16px;
  padding-top: 6px;
}

:host([ntp-realbox-next-enabled][searchbox-layout-mode='Compact'])
    .contextualEntrypointContainerCompact {
  box-shadow: none;
  width: auto;
}
