/* Copyright 2017 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.captive-portal .icon {
  background-image: image-set(
      url(images/1x/captive_portal_page_icon.png) 1x,
      url(images/2x/captive_portal_page_icon.png) 2x);
}

@media (prefers-color-scheme: dark) {
  .captive-portal .icon {
    filter: invert(1);
  }
}
