/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.https-only #main-content a {
  color: var(--google-blue-700);
  text-decoration: none;
}

.https-only .icon {
  background-image: image-set(
    url(images/1x/triangle_red.png) 1x,
    url(images/2x/triangle_red.png) 2x);
  filter: grayscale(1);
}

@media (prefers-color-scheme: dark) {
  .https-only .icon {
    filter: invert(1) grayscale(1);
  }
}
