/* Copyright 2017 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.ssl .icon {
  background-image: image-set(
      url(images/1x/triangle_red.png) 1x,
      url(images/2x/triangle_red.png) 2x);
}

.ssl-opt-in .checkbox::after {
  border-color: #696969;
}

.ssl-opt-in .checkbox::before {
  border-color: #696969;
}

.ssl-enhanced-protection-message {
  background-color: rgb(248, 249, 250); /* google-gray-50 */
  border: 1px solid rgb(218, 220, 224); /* google-gray-300 */
}

@media (prefers-color-scheme: dark) {
  .ssl-enhanced-protection-message {
    background-color: rgb(32, 33, 36); /* google-gray-900 */
    border: 1px solid rgb(95, 99, 104); /* google-gray-700 */
  }
}

.ssl-enhanced-protection-message .icon {
  background-image: url(images/light_bulb_grey.svg);
}

.ssl-enhanced-protection-message a:link {
  color: rgb(26, 115, 232); /* google-blue-600 */
}

@media (prefers-color-scheme: dark) {
  .ssl-enhanced-protection-message a:link {
    color: rgb(138, 180, 248); /* google-blue-300 */
  }
}
