/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./navi_colors.css.js
 * #include=navi-colors
 * #css_wrapper_metadata_end */

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin: auto;
  min-height: 100%;
  min-width: 800px;
  overflow: hidden;
  position: relative;
}

#text {
  align-items: center;
  display: flex;
  flex-basis: 45vh;
  flex-direction: column;
  /* Put the text above the onboarding-background. */
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--cr-primary-text-color);
  font-size: 4rem;
  margin-bottom: 40px;
  margin-top: 16px;
  order: 2;
  text-align: center;
}

.subheading {
  color: var(--cr-secondary-text-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
  margin: 0;
  opacity: 0.8;
  order: 1;
  text-align: center;
}

cr-button {
  font-size: 1rem;
  height: 3rem;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
  white-space: nowrap;
  width: 256px;
}

.action-link {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 24px;
}
