/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_style_lit.css.js
 * #import=./shared_style_lit.css.js
 * #include=cr-shared-style-lit shared-style-lit
 * #css_wrapper_metadata_end */

.cr-row {
  padding: 0;
}

.header-button,
.extension-buttons {
  margin-inline-start: auto;
}

/* Reformat panel when the panel is the width of one extension card */
/* clean-css ignore:start */
@container (max-width:450px) {
  /* Set a max width for the extension info so extension buttons can fit on
     the same row */
  .panel-extension-info {
    max-width: 116px;
  }
}
/* clean-css ignore:end */
