/* Copyright 2020 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
:root {
  color-scheme: light dark;
}

html:not(body) {
  --google-grey-900-rgb: 32, 33, 36;
  --google-grey-900: rgb(var(--google-grey-900-rgb));

  --cros-text-color-primary-rgb: var(--google-grey-900-rgb);
  --cros-text-color-primary: var(--google-grey-900);

  --cros-toggle-color-rgb: var(--cros-text-color-primary-rgb);
  --cros-toggle-color: rgba(var(--cros-toggle-color-rgb), 0.1);

  --cros-bg-color-elevation-1-rgb: 255, 255, 255;
  --cros-bg-color-elevation-1: rgb(var(--cros-bg-color-elevation-1-rgb));

  --cros-disabled-opacity: 0.38;

  --cros-reference-opacity: var(--cros-disabled-opacity);

  --cros-legacy-color-rgb: var(--cros-text-color-primary-rgb);
  --cros-legacy-color: var(--cros-text-color-primary);
  --cros-legacy-color-light: var(--cros-text-color-primary);
  --cros-legacy-color-dark: var(--cros-text-color-primary);

  --cros-legacy-color-w-opacity-rgb: var(--cros-text-color-primary-rgb);
  --cros-legacy-color-w-opacity: rgba(var(--cros-legacy-color-w-opacity-rgb), 0.3);
  --cros-legacy-color-w-opacity-light: rgba(var(--cros-legacy-color-w-opacity-rgb), 0.3);
  --cros-legacy-color-w-opacity-dark: rgba(var(--cros-legacy-color-w-opacity-rgb), 0.3);
}

@media (prefers-color-scheme: dark) {
html:not(body) {
  --cros-text-color-primary-rgb: 255, 255, 255;
  --cros-text-color-primary: rgb(var(--cros-text-color-primary-rgb));

  --cros-toggle-color-rgb: var(--cros-text-color-primary-rgb);
  --cros-toggle-color: rgba(var(--cros-toggle-color-rgb), var(--cros-disabled-opacity));

  --cros-bg-color-elevation-1: color-mix(in srgb, rgb(255, 255, 255) 4.0%, var(--google-grey-900));

  --cros-reference-opacity: 1;

  --cros-legacy-color-rgb: var(--cros-text-color-primary-rgb);
  --cros-legacy-color: var(--cros-text-color-primary);
  --cros-legacy-color-light: var(--cros-text-color-primary);
  --cros-legacy-color-dark: var(--cros-text-color-primary);

  --cros-legacy-color-w-opacity-rgb: var(--cros-text-color-primary-rgb);
  --cros-legacy-color-w-opacity: rgba(var(--cros-legacy-color-w-opacity-rgb), 0.3);
  --cros-legacy-color-w-opacity-light: rgba(var(--cros-legacy-color-w-opacity-rgb), 0.3);
  --cros-legacy-color-w-opacity-dark: rgba(var(--cros-legacy-color-w-opacity-rgb), 0.3);
}
}
