* @youtube/cobalt-3p-repository-owners

/cobalt/media @youtube/cobalt-media
/media/ @youtube/cobalt-media
/third_party/blink/renderer/platform/media/ @youtube/cobalt-media

/.github/  # no owners
/cobalt/  # no owners
/starboard/*.h  @youtube/cobalt-starboard-owners
/starboard/sabi @youtube/cobalt-starboard-owners
/starboard/elf_loader @youtube/cobalt-starboard-owners
/starboard/loader_app @youtube/cobalt-starboard-owners
/starboard/common @youtube/cobalt-starboard-owners
/components/viz/service/display/starboard/  # no owners
/ui/ozone/platform/starboard/  # no owners
/cobalt/build/gn.py @youtube/cobalt-build
/third_party/blink/ @youtube/cobalt-web-api

*.nplb_filter.json @youtube/nplb-filters
