# pycov configuration

[run]
source=.

omit=
  # Exclude test files from coverage report
  *_test.py
  cobalt/black_box_tests/tests/*
  cobalt/media_integration_tests/*

  # Exclude scripts in third_party/
  third_party/*
