*.Makefile
*.gypcmd
*.mk
*.ncb
*.ninja
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
# Settings directory for eclipse
.settings/
tags
Thumbs.db
v8.log
/buildbot
/cobalt/black_box_tests/_certs
/gyp-mac-tool
/out
/out_*
/testing/iossim/third_party/
/xcodebuild
*.gyp_lb*
.vscode
.idea
/venv/*
_certs/
