*.Makefile
*.mk
*.ncb
*.pyc
*.rules
*.scons
*.sln
*.suo
*.user
*.vcproj
*.xcodeproj
*~
.*.sw?
.DS_Store
.cproject
.gdbinit
.metadata
.project
/Makefile
/_out
/breakpad/src/
/build/Debug
/build/Purify
/build/Release
/build/util/support
/chrome/Debug
/chrome/Hammer
/chrome/Release
/chrome/app/theme/google_chrome
/chrome/browser/autofill/internal
/chrome/browser/extensions/default_extensions/chromeos
/chrome/browser/renderer_host/translate
/chrome/installer/linux
/chrome/installer/mac/internal
/chrome/installer/mac/third_party/xz/xz
/chrome/personalization/
/chrome/test/data/extensions/api_test/permissions/nacl_enabled/bin
/chrome/test/data/firefox2_profile/searchplugins
/chrome/test/data/firefox2_searchplugins
/chrome/test/data/firefox3_profile/searchplugins
/chrome/test/data/firefox3_searchplugins
/chrome/test/data/layout_tests
/chrome/test/data/osdd
/chrome/test/data/plugin
/chrome/test/data/workers/LayoutTests
/chrome/tools/memory
/chrome/tools/test/reference_build
/chrome_frame/tools/test/reference_build
/data
/googleurl
/gpu/gles2_conform_test
/native_client
/out
/rlz
/sconsbuild
/sdch/open-vcdiff
/seccompsandbox
/testing/gtest
/testserver.log
/third_party/GTM
/third_party/WebKit
/third_party/adobe/flash/binaries
/third_party/angle
/third_party/cacheinvalidation/files
/third_party/chromeos_login_manager
/third_party/chromeos_text_input
/third_party/cros
/third_party/cygwin
/third_party/ffmpeg
/third_party/forge
/third_party/gles2_conform
/third_party/googlemac
/third_party/hunspell
/third_party/hunspell_dictionaries
/third_party/icu
/third_party/libjingle/source
/third_party/libsrtp/src
/third_party/libvpx
/third_party/lighttpd
/third_party/lss
/third_party/mingw-w64
/third_party/nss
/third_party/ots
/third_party/pdfsqueeze
/third_party/pefile
/third_party/personalization
/third_party/platformsdk_win2008_6_1
/third_party/ppapi
/third_party/protobuf2
/third_party/pthreads-win32
/third_party/python_24
/third_party/pywebsocket
/third_party/skia
/third_party/speex
/third_party/swig
/third_party/valgrind
/third_party/xdg-utils
/third_party/xulrunner-sdk
/third_party/yasm/source/patched-yasm
/tools/distcc
/tools/grit/grit/test/data
/tools/gyp
/tools/histograms/
/tools/page_cycler/acid3
/tools/tryserver
/v8
/valgrind.tmp
/webkit/Debug
/webkit/Release
/webkit/data/bmp_decoder
/webkit/data/ico_decoder
/webkit/data/layout_tests/LayoutTests
/webkit/data/test_shell/plugins
/webkit/data/xbm_decoder
/x86-generic_out/
/xcodebuild
SConstruct
