# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        (.*/)?cobalt/.*|
        (.*/)?starboard/.*|
        .github/.*|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml|
    )$
exclude: |
    (?x)^(
        (
            starboard/contrib/RDK|
            starboard/contrib/rdk|
        )/
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
        exclude: |
            (?x)^(
                cobalt/shell/android/javatests/AndroidManifest.xml
            )
    -   id: check-yaml
    -   id: check-json
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
-   repo: https://github.com/rhysd/actionlint
    rev: 03d0035246f3e81f36aed592ffb4bebf33a03106
    hooks:
    -   id: actionlint
        files: ^.github/workflows
-   repo: local
    hooks:
    -   id: chromium-pre-commit
        name: Chromium presubmit bridge
        entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
        language: system
        types: [file]
        exclude: |
            (?x)^(
                (.*/)?cobalt/.*|
                (.*/)?starboard/.*|
            )
        files: ^.*$ # Apply to all file paths
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        exclude: |
            (?x)(
                ^cobalt/shell/app/resource.h$|
                ^starboard/shared/uikit/accessibility_extension.cc$|
                ^starboard/shared/uikit/player_configuration.cc$
            )
        additional_dependencies: ['clang-format==21.1.0']
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: python
        types: [c++]
        args: [--verbose=5, --quiet]
        exclude: |
            (?x)(
                ^cobalt/bindings/(templates|generated)/|
                ^cobalt/common/features/starboard_features_initialization.cc$|
                ^cobalt/shell/app/resource.h$|
                ^starboard/shared/uikit/.*\.h$|
                ^starboard/shared/starboard/starboard_feature_test.cc$|
                ^starboard/shared/starboard/link_receiver.cc$
            )
        additional_dependencies: ['cpplint==2.0.2']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
        # (TODO:b/454687024) Re-enable. Temporarily disabled post m138 merge
        # due to unintended update of java code formatting rules
        exclude: |
            (?x)^(
                starboard/|
                cobalt/
            )
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
                cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
                cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
                cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'
    -   id: check-java-strings-have-locale
        name: Check Java String.format includes Locale
        entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
        language: python
        types: [java]
