[access]
	inheritFrom = Public-Projects
[access "refs/heads/WORK_ANDROID"]
	push = group google/megallium@googlegroups.com
	pushMerge = group google/megallium@googlegroups.com
	label-Code-Review = -2..+2 group google/megallium@googlegroups.com
	submit = group google/megallium@googlegroups.com
	submitAs = group google/megallium@googlegroups.com
[access "refs/heads/WORK_TIZEN"]
	push = group google/kobalteu@googlegroups.com
	pushMerge = group google/kobalteu@googlegroups.com
	label-Code-Review = -2..+2 group google/kobalteu@googlegroups.com
	submit = group google/kobalteu@googlegroups.com
	submitAs = group google/kobalteu@googlegroups.com
[access "refs/heads/*"]
	push = +force group google/lbshell-admins@google.com
