[access]
	inheritFrom = Public-Projects
[access "refs/heads/WORK_ANDROID"]
	push = group google/megallium@googlegroups.com
	pushMerge = group google/megallium@googlegroups.com
	label-Code-Review = -2..+2 group google/megallium@googlegroups.com
	submit = group google/megallium@googlegroups.com
	submitAs = group google/megallium@googlegroups.com