/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  --fail-color: var(--google-red-700);
  --pass-color: var(--google-green-700);
  color: var(--cr-primary-text-color);
}

@media (prefers-color-scheme: dark) {
  :host {
    --fail-color: var(--google-red-300);
    --pass-color: var(--google-green-300);
  }
}

.content {
  background-color: var(--cr-card-background-color);
  border-radius: 8px;
  box-shadow: var(--cr-card-shadow);
  margin-bottom: 20px;
  padding: 20px;
}

.check-item {
  border-radius: 8px;
  border: 2px solid var(--cr-separator-color);
  margin-bottom: 12px;
  padding: 12px;
}

.check-item.pass {
  border-color: var(--pass-color);
}

.check-item.fail {
  border-color: var(--fail-color);
}

.check-label {
  color: var(--cr-secondary-text-color);
  margin-bottom: 12px;
}

.check-value {
  font-size: 16px;
  font-weight: 500;
}

.check-value.pass {
  color: var(--pass-color);
}

.check-value.fail {
  color: var(--fail-color);
}

.response-input {
  background-color: var(--cr-card-background-color);
  border-radius: 8px;
  border: 2px solid var(--cr-separator-color);
  box-sizing: border-box;
  color: var(--cr-primary-text-color);
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
}

.response-input:focus {
  outline: 2px solid var(--cr-focus-outline-color);
}

.response-input.fail {
  border-color: var(--fail-color);
}

.response-button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.footer {
  color: var(--cr-secondary-text-color);
  text-align: center;
}
