/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  background-color: var(--search-background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

[hidden] {
  display: none !important;
}

#threadFrame {
  border: none;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}