/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

cr-tooltip {
  --paper-tooltip-delay-in: 300ms;
  --paper-tooltip-delay-out: 0ms;
  --paper-tooltip-opacity: 1.0;
  margin-top: -175px;
  margin-inline-start: var(--composebox-start-indent, 24px);
}

cr-tooltip::part(tooltip) {
  border-radius: 8px;
  /* Use drop-shadow filter so the caret also gets a shadow. */
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3))
    drop-shadow(0 2px 6px rgba(0, 0, 0, 0.15));
  padding: 16px;
  max-width: 300px;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}

/* Add a caret to the tooltip. */
cr-tooltip::part(tooltip)::after {
  content: "";
  position: absolute;
  top: 100%;
  inset-inline-start: 35px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--paper-tooltip-background) transparent transparent
    transparent;
}

.tooltip-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.tooltip-title {
  font-weight: 500;
}

cr-icon-button {
  --cr-icon-button-margin-end: 0;
  --cr-icon-button-fill-color: var(--color-composebox-font);
  --cr-icon-button-size: 20px;
  --cr-icon-button-icon-size: 16px;
}
