/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/mwb_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  --mwb-primary-text-font-size: 12px;
  --mwb-secondary-text-font-size: 11px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0px var(--mwb-list-item-horizontal-margin);
}

cr-action-menu {
  --cr-menu-border-radius: 16px;
  padding: 25px 0;
}

.header {
  color: var(--cr-primary-text-color);
  padding: 6px var(--mwb-list-item-horizontal-margin);
}

/* Top padding for the main header, "Shared tabs and files" */
cr-action-menu > .header:first-child {
  font-weight: bold;
}

.icon-container {
  align-items: center;
  background-color: var(--color-list-item-url-favicon-background);
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  margin-inline-end: 16px;
  width: 40px;
}

.tab-favicon {
  background-repeat: no-repeat;
  background-size: var(--mwb-icon-size);
  flex-shrink: 0;
  height: var(--mwb-icon-size);
  width: var(--mwb-icon-size);
}

.tab-info {
  display: flex;
  flex-direction: column;
}

.tab-title {
  color: var(--cr-primary-text-color);
  font-size: var(--mwb-primary-text-font-size);
  font-weight: 500;
}

.tab-url {
  color: var(--cr-secondary-text-color);
  font-size: var(--mwb-secondary-text-font-size);
  font-weight: 400;
}
