/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_icons_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/mwb_shared_vars.css.js
 * #scheme=relative
 * #include=cr-icons-lit
 * #css_wrapper_metadata_end */

:host {
  --mwb-primary-text-font-size: 12px;
  --mwb-secondary-text-font-size: 11px;

  align-items: center;
  background-color: var(--cr-fallback-color-surface);
  display: flex;
  height: 48px;
  justify-content: space-between;
}

.leftSide {
  align-items: center;
  display: flex;
  font-size: 16px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toolbarLogo {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 12px 0 8px;
  min-width: 22px;
  min-height: 22px;
}

.rightSide {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
}

#rightButtonContainer {
  align-items: center;
  display: flex;
  padding-right: 16px;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

cr-action-menu {
  --cr-menu-border-radius: 16px;
}

cr-action-menu > button {
  padding: 4px 16px;
  min-width: 230px;
}

button > cr-icon {
  width: 20px;
  height: 20px;
}

cr-icon-button {
  --cr-icon-button-margin-start: 12px;
}

cr-icon-button[hidden] {
  display: none;
}

.dropdown-item cr-icon {
  padding-inline-end: 10px;
}
