/* Copyright 2025 The Chromium Authors
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file. */

/* #css_wrapper_metadata_start
* #type=style-lit
* #scheme=relative
* #css_wrapper_metadata_end */

:host {
  --side-panel-percent-offset: 0%;
  bottom: 0px;
  container-type: inline-size;
  display: none;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  /* Height is so aligns with 900px height webview.
   * TODO(crbug.com/470121831): change this when webview height
   * changes + 100% overlay incorporated.
   */
  height: 590px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 116px;
}

/* Overlay height should shrink by this amount in side panel. */
:host([is-side-panel]) {
  /* Move 8px up due to toolbar being 8 px taller than expected (40px). */
  --side-panel-percent-offset: calc(4% + 8px);
  height: 845px;
  top: 40px;
}

:host([is-first-load]) {
  display: block;
}

#pointerEventBlocker {
  background-color: transparent;
  height: calc(63% - var(--side-panel-percent-offset) * 1.4);
  opacity: 0.5;
  pointer-events: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

:host([is-side-panel] #pointerEventBlocker) {
  height: 57%;
}

/* Will be hidden by :host as needed.
 * Add overlay since need cqw to have responsiveness
 * to width.
*/
#overlay {
  align-items: center;
  background: linear-gradient(to bottom,
      var(--search-background-color)
      calc(62% - (var(--side-panel-percent-offset) * 1.2)), transparent 38%);
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

@media (min-width: 480px) {
  :host(:not([is-side-panel])) {
    inset-inline-start: 76px;
    top: 88px;
  }
}

.thread-header {
  color: var(--color-zero-state-greeting);
  font-family: inherit;
  font-size: 32px;
  font-weight: 500;
  inset-inline-start: -165px;
  line-height: 100%;
  margin: 0;
  margin-right: 20px; /* To push for earlier wrapping. */
  position: relative;
  z-index: 2;
}

:host([is-side-panel]) .thread-header {
  font-size: 28px;
  font-weight: 400;
  inset-inline-start: -140px;
  line-height: 36px;
  margin: 0 8px 0 0;
}

#relativeThreadHolder {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-top: -112px;
  position: relative;
  width: fit-content;
}

@media (max-width: 850px) {
  :host(:not([is-side-panel])) .thread-header {
    inset-inline-start: 30px;
    position: absolute;
  }
  :host(:not([is-side-panel])) #relativeThreadHolder {
    height: 64px;
    width: 100%;
  }
}

/* Give thread header more space when it wraps. */
@media (max-width: 440px) {
  #relativeThreadHolder {
    padding-bottom: 10px;
  }
  :host([is-side-panel]) #relativeThreadHolder {
    padding-bottom: 20px;
  }
}

@media (max-width: 700px) {
  :host([is-side-panel]) .thread-header {
    inset-inline-start: -80px;
  }
}

@media (max-width: 650px) {
  :host([is-side-panel]) .thread-header {
    inset-inline-start: -30px;
  }
}

@media (max-width: 480px) {
  /* Higher specificity so it wins over other side panel formatting. */
  :host([is-side-panel]) .thread-header {
    inset-inline-start: 28px;
    position: absolute;
  }
  :host([is-side-panel]) #relativeThreadHolder {
    height: 64px;
    width: 100%;
  }
}

@media (max-width: 280px) {
  .thread-header {
    font-size: 11vw;
  }
}

:host([is-side-panel]) #space {
  height: 110px;
}

#space {
  height: 60px;
}

@media (max-width: 450px) {
  #space {
    height: 90px;
  }
}

:host([is-first-load]) #opaqueOverlay {
  align-items: stretch;
  /* Longer than usual delay in case there is lag in loading webview. */
  animation: zero-state-fade-in 1.2s cubic-bezier(0, 0, 0.58, 1) both 2s;
  background-color: var(--search-background-color);
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

/* Hides slide up animation of AIM composebox. */
@keyframes zero-state-fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (max-width: 530px) {
  #overlay {
    background: linear-gradient(to bottom, var(--search-background-color)
        calc(65.5% - (var(--side-panel-percent-offset) * 1.4)), transparent 1%);
  }
}

/* Must not include 480px. */
@media (max-width: 479px) {
  #overlay {
    background: linear-gradient(to bottom, var(--search-background-color)
        calc(62% - var(--side-panel-percent-offset)), transparent 1%);
  }
}

@media (max-width: 453px) {
  #overlay {
    /* cqw to ensure height shrinks relative to width to
     * adaptively shrink linearly with width.
     */
    background: linear-gradient(to bottom, var(--search-background-color)
        calc(63% + 5cqw - (var(--side-panel-percent-offset) * 1.35)),
        transparent 1%);
  }
}