/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .header-shadow {
    box-shadow: inset 0 5px 6px -3px var(--header-shadow-color);
  }
}

body {
  background: var(--page-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

body > header {
  flex-shrink: 0;
}

body > main {
  overflow: auto;
  padding: 12px;
}

.header-shadow {
  box-shadow: 0 5px 6px -3px var(--header-shadow-color);
  z-index: 1;
}

#status-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

status-box {
  width: 380px;
}

body > header {
  align-items: center;
  padding: 0 12px 12px 12px;
}

.header-row {
  align-items: center;
  display: flex;
  height: fit-content;
}

.action-header-row {
  flex-wrap: wrap;
  gap: 10px;
}

.action-row-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#more-actions-dropdown {
  float: left;
  overflow: hidden;
}

#more-actions-dropdown #more-actions-button {
  cursor: pointer;
}

#more-actions-list {
  position: absolute;
  background-color: var(--page-background);
  min-width: 130px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 1;
}

#more-actions-list button,
#more-actions-list a {
  background-color: var(--page-background);
  border: none;
  color: var(--text-color);
  display: block;
  float: none;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

#more-actions-list button {
  width: 100%;
}

#more-actions-list button:hover,
#more-actions-list a:hover {
  background-color: var(--element-hover);
}

.more-actions-visibility {
  display: none;
}

#more-actions-button {
  padding: 8px 8px 8px 16px;
}

#dropdown-icon {
  background-image: url(chrome://resources/images/icon_arrow_dropdown.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.action-row-button {
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--action-row-button-border);
  background: var(--action-row-button-background);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  padding: 8px 16px;
  user-select: none;
}

.action-row-button:hover {
  filter: brightness(var(--action-row-button-hover-brightness));
}

.action-row-button:active {
  filter: brightness(var(--action-row-button-active-brightness));
}

#topbar {
  gap: 5px;
  justify-content: space-between;
}

.topbar-item {
  flex: 1;
}

#left-content {
  justify-content: flex-start;
}

#topbar-brand {
  align-items: center;
  display: flex;
}

#topbar-title {
  font-size: 170%;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 80%;
}

<if expr="not is_android and not is_ios">
#topbar-brand-logo {
  background-image: image-set("chrome://theme/current-channel-logo@1x" 1x,
                              "chrome://theme/current-channel-logo@2x" 2x);
  background-size: cover;
  height: 24px;
  margin-inline-end: 10px;
  width: 24px;
}
</if>

#middle-content {
  align-items: center;
  display: flex;
  flex-basis: 680px;
  justify-content: center;
}

#search-field-container {
  align-items: center;
  background: var(--search-field-container-background);
  border-radius: 46px;
  display: flex;
  flex: 0 1;
  flex-basis: inherit;
  height: 40px;
}

#search-field-icon {
  background-image: url(chrome://resources/images/dark/icon_search.svg);
  background-size: cover;
  fill: var(--search-field-icon-background);
  height: 20px;
  margin-left: 12px;
  min-width: 20px;
  width: 20px;
}

#search-field-input {
  background: 0 0;
  border: none;
  caret-color: var(--search-field-caret-color);
  color: var(--search-field-input-text-color);
  margin: 0 12px 0 12px;
  outline: 0;
  padding: 0;
  width: 100%;
  line-height: 185%;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

.show-unset-checkbox > label {
  align-items: center;
  display: flex;
  gap: 0.4em;
  justify-content: space-between;
}

.show-unset-checkbox > label > input {
  margin: 0;
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

#toast-container {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.toast {
  background-color: var(--toast-background);
  border: 1px solid var(--table-border);
  border-radius: 15px;
  color: var(--toast-text-color);
  margin: 0 auto 5px auto;
  padding: 20px;
  text-align: center;
  width: 240px;
  max-width: 100%;
  z-index: 999;
}

/* Remove the flex gap after the searchbar on smaller width devices. */
@media only screen and (max-width: 440px) {
  #right-content {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  status-box {
    width: 100%;
  }
}

<if expr="is_android or is_ios">
#search-field-container {
  height: 36px;
}
</if>
