/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  color: #333;
}

h2 {
  font-size: 110%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border-color: #666;
  border-style: solid;
  border-width: 1px;
  padding: 1px 4px;
}

div[slot='panel'] {
  padding-bottom: 10px;
}

div[slot='panel']>div {
  display: flex;
}

div[slot='panel']>div>div {
  flex: 1;
}

label {
  cursor: pointer;
}

.hidden {
  display: none;
}

.input-dirty {
  background: #ff8;
}

.row-sep > *:not(:first-child) {
  margin-left: 5px;
}

.dump {
  font-family: monospace;
  white-space: pre-wrap;
}

#log-message-filter-stats {
  font-weight: normal;
}

.event-logs-time {
  width: 15%;
}

.event-logs-log-source {
  width: 15%;
}

.event-logs-source-location {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20%;
}

td.event-logs-source-location {
  word-wrap: break-word;
}

.event-logs-message {
  width: 50%;
}

td.event-logs-message {
  word-wrap: break-word;
}

.downloaded-models-optimization-target {
  width: 25%;
}

td.downloaded-models-optimization-target {
  word-wrap: break-word;
}

.downloaded-models-version {
  width: 20%;
}

.downloaded-models-file-path {
  width: 55%;
}

td.downloaded-models-file-path {
  word-wrap: break-word;
}

.logged-client-ids {
  width: 20%;
}
