
/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
 /* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #import=//resources/cr_elements/cr_spinner_style_lit.css.js
 * #import=./config_toggle.css.js
 * #scheme=relative
 * #include=cr-spinner-style-lit config-toggle
 * #css_wrapper_metadata_end */

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--cr-primary-text-color);
  padding: 8px 12px;
  overflow-y: auto;
}

:host h3 {
  color: var(--cr-secondary-text-color);
}

.action-panel {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.scenario-list-container {
  flex-direction: column;
  display: flex;
  margin: 0 8px;
}

.loading-spinner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.spinner {
  --cr-spinner-size: 20px;
}

<if expr="is_win">
/** Windows system tracing -------------------------------------------------- */
#system-tracing-shield {
  padding-inline-start: 12px;
}
</if>
