/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #scheme=relative
 * #import=//resources/cr_elements/cr_shared_style.css.js
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #import=//resources/cr_elements/md_select.css.js
 * #import=//resources/polymer/v3_0/iron-flex-layout/iron-flex-layout-classes.js
 * #include=iron-flex cr-shared-style md-select
 * #css_wrapper_metadata_end */

@import 'ui/webui/resources/cr_elements/chromeos/cros_color_overrides.css';

a {
  color: var(--cros-link-color);
  text-decoration: none;
}
