# These files are text and should be normalized (convert crlf > lf).
*.bat                   text eol=lf
*.cc                    text eol=lf
*.cg                    text eol=lf
*.cpp                   text eol=lf
*.css                   text eol=lf
*.gyp                   text eol=lf
*.gypi                  text eol=lf
*.h                     text eol=lf
*.html                  text eol=lf
*.idl                   text eol=lf
*.js                    text eol=lf
*.pump                  text eol=lf
*.py                    text eol=lf
*.sublime-project       text eol=lf
*.sublime-workspace     text eol=lf
*.template              text eol=lf
*.txt                   text eol=lf
*.y                     text eol=lf
.clang-format           text eol=lf
codereview.settings     text eol=lf

# Images should be treated as binary files.
*.exe                   binary
*.jpg                   binary
*.mp4                   binary
*.png                   binary
*.pyc                   binary
*.ttf                   binary
