/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/cr_elements/cr_shared_style.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./print_preview_vars.css.js
 * #include=cr-shared-style
 * #css_wrapper_metadata_end */

/* Default state ********************************************************/
select.md-select {
  margin-bottom: 2px;
  margin-top: 2px;
  min-height: 32px;
  padding-bottom: 1px;
<if expr="is_win or is_macosx">
  /* The following platform-specific rule is necessary to get adjacent
   * buttons, text inputs, and so forth to align on their borders while
   * also aligning on the text's baselines. */
  padding-bottom: 2px;
</if>
  padding-inline-end: 32px;
  padding-top: 1px;
  user-select: none;
  --md-select-width: calc(100% - 2 * var(--print-preview-sidebar-margin));
}

.checkbox cr-checkbox {
  min-height: var(--print-preview-row-height);
}

.checkbox cr-checkbox::part(label-container) {
  overflow: hidden;
  padding-inline-start: 16px;
}

cr-input {
  line-height: 20px;
}

cr-input::part(row-container) {
  min-height: var(--print-preview-row-height);
}

print-preview-settings-section [slot=controls] > * {
  margin: 0 var(--print-preview-sidebar-margin);
}

/* Default print preview dialog styles. */
cr-dialog::part(wrapper) {
  max-height: calc(100vh - 68px);
  max-width: 100%;
  width:  calc(100vw - 68px);
}

cr-dialog [slot=body] {
  box-sizing: border-box;
}

#dialog div[slot='title'] {
  padding-bottom: 8px;
}

#dialog div[slot='button-container'] {
  align-items: center;
  box-shadow: 0 -1px 1px 0 var(--cr-separator-color);
  min-height: 64px;
  padding-bottom: 0;
  padding-top: 0;
}
