body {
    background-color: rgba(0, 0, 0, 0.005)
}

#hud {
  position: absolute;
  left: 0%;
  top: 89%;
  width: 96%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  outline: #FFFFFF solid 2px;
  padding: 1% 2% 0% 2%;
}

#consoleFrame {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 87%;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  overflow: hidden;
  padding: 0% 0% 2% 0%;
}

#messageLog {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 96%;
  height: 93%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  overflow: hidden;
  padding: 0% 2% 2% 2%;
}

#messageBox {
  position: absolute;
  bottom: 0;
}

#in {
  position: absolute;
  left: 0%;
  top: 96%;
  width: 96%;
  height: 3%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
  padding: 1% 2% 1% 2%;
}
