/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.os-link-container-container {
  margin: 20px;
}

.os-link-container {
  align-items: center;
  /* color_primary GRAY 200 */
  border: 1px solid rgb(232, 234, 237);
  font-family: 'Roboto', Roboto, sans-serif;
  border-radius: 4px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 28px;
  padding: 12px;
}

@media (prefers-color-scheme: dark) {
  .os-link-container {
    /* color_primary GRAY 900 */
    border: 1px solid rgb(32, 33, 36);
  }
}

.os-link-icon {
  background-image: url(chrome://resources/images/os_system_app_icon.svg);
  background-size: 16px 16px;
  height: 16px;
  margin-inline-end: 16px;
  width: 16px;
}

.os-link-href,
#os-link-href {
  font-size: 14px;
  line-height: 20px;
  padding-inline-start: 4px;
}
