# IMPORTANT: Remember to also update requirements.txt when updating this file:
# $ docker run -it --mount type=bind,source=${COBALT_SRC},target=/code -w /code python:3.8 /bin/bash
# In the container:
# $ pip3 install pip-tools
# $ pip-compile --allow-unsafe --generate-hashes path/to/requirements.in

pytest>=7.2.0
coverage<7
requests>=2.31.0
jsonschema<5
junitparser==2.8.0
pexpect==4.8.0
six==1.12.0
atomicwrites==1.4.1
parameterized>=0.9.0
protobuf>4
