/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #css_wrapper_metadata_end */

/* Common styles for Support Tool components. */
h1 {
  color: var(--cr-primary-text-color);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 18px;
}

.support-tool-title {
  color: var(--cr-title-text-color);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navigation-buttons {
  float: right;
  margin-bottom: 20px;
  margin-top: 32px;
  position: relative;
  right: 0;
}

.support-case-id {
  height: 32px;
  margin-bottom: 3px;
  width: 248px;
}

.data-collector-checkbox {
  padding-bottom: 8px;
  padding-top: 8px;
}

.data-collector-list {
  width: 520px;
  padding-top: 8px;
}

.select-all-checkbox {
  border-bottom: var(--cr-separator-line);
  padding-bottom: 16px;
}