/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

list,
grid {
  display: block;
  outline: none;
  overflow: auto;
  position: relative; /* Make sure that item offsets are relative to the
                         list. */
}

list > *,
grid > * {
  position: relative; /* to allow overlap */
  text-overflow: ellipsis;
  user-select: none;
  white-space: pre;
}

list > * {
  display: block;
}

grid > * {
  display: inline-block;
}

html.col-resize list,
html.breadcrumb-elider-expanded list,
html.col-resize grid,
html.breadcrumb-elider-expanded grid {
  overflow-y: hidden !important;
}

list > .spacer,
grid > .spacer {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

list :-webkit-any(
    input[type='input'],
    input[type='password'],
    input[type='search'],
    input[type='text'],
    input[type='url']),
list :-webkit-any(
    button,
    input[type='button'],
    input[type='submit'],
    select):not(.custom-appearance) {
  line-height: normal;
  vertical-align: middle;
}

list > [hidden],
grid > [hidden] {
  display: none;
}
