/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_page_host_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #include=cr-page-host-style-lit cr-shared-style-lit
 * #css_wrapper_metadata_end */

.card {
  background-color: var(--cr-card-background-color);
  border-radius: var(--cr-card-border-radius);
  box-shadow: var(--cr-card-shadow);
  margin: 0 auto;
  margin-block-end: 36px;
  max-width: var(--card-max-width);
}

.flex {
  flex: 1;
}

#expandedContent {
  padding-inline-end: var(--cr-section-padding);
  padding-inline-start: var(--cr-section-indent-padding);
}

cr-icon-button {
  margin-inline-start: 0;
  padding-inline-start: 0;
  justify-content: flex-start;
}