/* Copyright 2025 The Chromium Authors
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file. */

/* Manually added colors to match the web colors used in the webview's
* content. */
:root {
  color-scheme: light dark;
  --color--surface-container: light-dark(#F0F4F9, #282A2C);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 12px;
  overflow: hidden;
}

#fre-app-container .panel {
  background-color: var(--cr-fallback-color-surface);
}

#fre-app-container {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 12px;
  overflow: hidden;
}

#fre-app-container .dialog {
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 20px;
  color: var(--cr-fallback-color-on-surface);
  display: flex;
  flex-direction: column;
  --header-height: 24px;
}

#fre-app-container .header {
  padding: 12px 20px 12px 20px;
  height: var(--header-height);
  display: flex;
  justify-content: right;
}

#fre-app-container .close-button {
  --cr-icon-button-size: var(--header-height);
  --cr-icon-button-icon-size: 20px;
  color: var(--cr-fallback-color-on-surface);
}

#fre-app-container .container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fre-app-container .notice {
  width: 358px;
  margin-top: calc(var(--header-height) * -1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fre-app-container .icon {
  --iron-icon-fill-color: var(--cr-fallback-color-error);
  margin-inline-start: 4px;
}

#fre-app-container p {
  margin: 0 0 8px;
  text-align: center;
}

#fre-app-container .headline {
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0 4px;
}

#freGuestPanel {
  width: 100%;
  height: 100%;
  border: 0;
}

#freWebviewContainer {
  width: 100%;
  height: 100%;
}

#fre-app-container .tonal-button {
  margin-top: 8px;
  background-color: var(--cr-fallback-color-tonal-container);
  color: var(--cr-fallback-color-on-tonal-container);
}

#fre-app-container .panel[hidden] {
  display: none;
}

#freLoadingPanel .header {
  position: absolute;
  left: 0;
  right: 0;
}

#freLoadingPanel .container {
  padding: 32px;
  flex-direction: column;
  justify-content: start;
}

#freDisabledByAdminPanel .panel {
  align-items: center;
}

#freDisabledByAdminPanel .header {
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
}

#freDisabledByAdminPanel .card {
  justify-content: center;
  align-items: center;
}

#freDisabledByAdminPanel .icon {
  --iron-icon-fill-color: var(--cr-fallback-color-primary);
}

/* Skeleton loader styles */
#fre-app-container .skeleton-loader-block {
  width: 100%;
  margin-bottom: 12px;
  background-color: var(--color--surface-container);
  border-radius: 12px;
  animation: 1.5s infinite ease-in-out opacity-fade;
}

#fre-app-container .container .bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

#fre-app-container .title {
  display: none;
}

#fre-app-container .a {
  width: 90px;
  height: 45px;
  border-radius: 48px;
}

#fre-app-container .b {
  height: 64px;
  animation-delay: 0.1s;
}

#fre-app-container .c {
  height: 78px;
  margin-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  animation-delay: 0.2s;
}

#fre-app-container .d {
  height: 44px;
  margin-bottom: 1px;
  border-radius: 0;
  animation-delay: 0.3s;
}

#fre-app-container .e {
  height: 78px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  animation-delay: 0.4s;
}

#fre-app-container .f {
  height: 35px;
  animation-delay: 0.5s;
}

#fre-app-container .g {
  width: 102px;
  height: 44px;
  border-radius: 48px;
  animation-delay: 0.6s;
}

@keyframes opacity-fade {
  0% {
    opacity: 100%;
  }
  33% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

#fre-app-container a[href] {
  color: var(--cr-link-color);
  cursor: pointer;
  text-decoration: underline;
}

#fre-local-panels {
  height: 100%;
}

#fre-app-container .side-panel .notice {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

#fre-app-container .side-panel .notice p {
  width: 300px;
}

.hidden {
 display: none;
}