/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

cr-icon {
  --icon-size: 20px;
  height: var(--icon-size);
  margin: 0px 8px 0px 4px;
  width: var(--icon-size);
}

cr-icon-button {
  --cr-icon-button-icon-size: 16px;
  --cr-icon-button-size: 24px;
  color: var(--color-sys-on-surface-subtle);
  margin: 0 4px;
}

cr-icon-button.active {
  background-color: var(--cr-active-background-color);
}

.spinner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

#voiceSelectionMenu::part(dialog) {
  min-width: 304px;
  width: fit-content;
}

cr-action-menu::part(dialog) {
  max-height: calc(90% - 36px);
  /* Prevent jank due to overscrolling from the dialog */
  overscroll-behavior: contain;
}

.clickable-false {
  pointer-events: none;
  opacity: var(--cr-disabled-opacity);
}

.dropdown-voice-selection-button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px 0px 20px;
  width: 100%;
}

.dropdown-voice-selection-button cr-icon-button {
  margin: 0;
}

.dropdown-line {
  align-items: center;
  height: 32px;
}

.check-mark {
  margin: 0;
}

.lang-group-title,
.notification {
  color: var(--color-sys-on-surface-subtle);
  display: grid;
  font-size: 12px;
  font-weight: 400;
  padding-left: 20px;
}

.error-message {
  white-space: normal;
}

.voice-name {
  font-size: 13px;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
  padding-inline-end: 16px;
  text-overflow: ellipsis;
}

.item-invisible-true {
  visibility: hidden;
}

.menu-divider {
  border-top: 1px solid var(--color-side-panel-dialog-divider);
}

.language-menu-button {
  font-size: 13px;
  font-weight: 500;
  height: 24px;
  margin-bottom: 3px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
