/* Copyright 2018 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.header-provider-and-type {
  width: 160%;
}

.header-relevance {
  width: 100%;
}
.header-contents-and-description {
  width: 480%;
}

.header-destination-url {
  width: 220%;
}

.header-aqs-type-subtypes {
  width: 100%;
}

.header-fill-and-inline {
  width: 180%;
}

.header-transition {
  width: 70px;
}

.header-associated-keyword,
.header-keyword {
  width: 120%;
}

.header-scoring-signals,
.header-additional-info {
  width: 240%;
}

.header-swap-contents-and-description,
.header-allowed-to-be-default-match,
.header-starred,
.header-has-tab-match,
.header-deletable,
.header-from-previous,
.header-provider-done,
.header-duplicates,
.header-pedal-id {
  font-size: .75rem;
  width: 18px;
}
