body {
  background: #000000;
  color: #ffffff;
  font-size: 20px;
}

.error {
  background:#f8d7da;
  border-radius: .25rem;
  border: 1px transparent solid;
  color: #721c24;
  margin-bottom: .25rem;
  padding: .75rem 1.25rem;
}
