/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #import=//resources/cr_elements/cr_hidden_style_lit.css.js
 * #scheme=relative
 * #include=cr-hidden-style-lit
 * #css_wrapper_metadata_end */

:host {
  display: block;
  box-sizing: border-box;
}

#promo {
  display: flex;
  align-items: center;
  background: var(--cr-card-background-color);
  border-radius: 8px;
  box-shadow: var(--cr-card-shadow);
  box-sizing: border-box;
  margin-block-start: 16px;
  margin-block-end: 8px;
  padding: 24px 16px;
  gap: 18px;
  position: relative;
  width: 100%;
}

#close {
  --cr-icon-button-margin-end: 0;
  position: absolute;
  inset-block-start: 12px;
  inset-inline-end: 12px;
}

.sync-history-illustration {
  content: url(images/sync_history_promo.svg);
  width: 200px;
}

@media (prefers-color-scheme: dark) {
  .sync-history-illustration  {
    content: url(images/sync_history_promo_dark.svg);
  }
}

.promo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  margin-right: 28px;
  margin-top: 6px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.description {
  color: var(--cr-secondary-text-color);
  max-width: 573px;
}

.web-only-signed-in-description {
  color: var(--cr-secondary-text-color);
  max-width: 726px;
}

.action-button {
  margin-top: 8px;
}

.profile-row {
  text-align: left;
  align-items: center;
  display: flex;
  margin-top: 16px;
}

.avatar {
  border-radius: 50%;
  height: 32px;
  margin-inline-end: 12px;
  width: 32px;
}

.account-name {
  font-size: 13px;
}

.account-email {
  font-size: 12px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}