/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=./shared_vars.css.js
 * #import=chrome://resources/cr_elements/cr_hidden_style.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #include=cr-hidden-style
 * #css_wrapper_metadata_end */

a {
  color: var(--cr-link-color);
}

.history-cards {
  margin: 0 auto;
  max-width: var(--card-max-width);
  min-width: var(--card-min-width);
  padding: 0 var(--card-padding-side);
  width: calc(100% - 2 * var(--card-padding-side));
}

.card-title {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
  padding: 23px 24px 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.centered-message {
  align-items: center;
  color: var(--md-loading-message-color);
  display: flex;
  flex: 1;
  font-size: 108%;
  font-weight: 500;
  height: 100%;
  justify-content: center;
}

.website-icon {
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center center;
  border-radius: 4px;
  flex: none;
  height: 24px;
  width: 24px;
}

.website-link {
  align-items: center;
  color: var(--cr-primary-text-color);
  display: flex;
  overflow: hidden;
  text-decoration: none;
}

.website-title {
  font-size: 12px;
  font-weight: 500;
  margin-inline-start: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
