/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./shared_style.css.js
 * #include=shared-style
 * #css_wrapper_metadata_end */

:host {
  -webkit-tap-highlight-color: transparent;
  display: block;
}

#card-heading {
  cursor: pointer;
  justify-content: space-between;
  padding-inline-end: 0;
}

#tab-item-list {
  padding: 8px 0;
}

#last-update-time {
  color: var(--cr-secondary-text-color);
}

#title-left-content {
  display: flex;
  overflow: hidden;
}

#device-name {
  overflow: hidden;
  padding-inline-end: 3px;
  text-overflow: ellipsis;
}

#right-buttons {
  color: var(--cr-secondary-text-color);
  margin-inline-end: 24px;
}

#collapse {
  overflow: hidden;
}

#history-item-container {
  background-color: var(--cr-card-background-color);
  border-radius: var(--cr-card-border-radius);
  box-shadow: var(--cr-card-shadow);
}

.item-container {
  align-items: center;
  display: flex;
  margin: 0 20px;
  min-height: var(--item-height);
}

.window-separator {
  background-color: var(--card-border-color);
  height: 1px;
  margin: 5px auto;
  width: 80%;
}
