/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_page_host_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #include=cr-page-host-style-lit cr-shared-style-lit
 * #css_wrapper_metadata_end */

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 50px;
}

th,
td {
  border-color: #666;
  border-style: solid;
  border-width: 1px;
  padding: 1px 4px;
}

.card {
  background-color: var(--cr-card-background-color);
  border-radius: var(--cr-card-border-radius);
  box-shadow: var(--cr-card-shadow);
  margin: 0 auto;
  margin-block-end: 36px;
  max-width: var(--card-max-width);
}

.flex {
  flex: 1;
}

.value {
  font-weight: bold;
}

#expandedContent {
  padding-inline-end: var(--cr-section-padding);
  padding-inline-start: var(--cr-section-indent-padding);
}

.source-location {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15%;
}

.model-entry {
  word-wrap: break-word;
  width: 70%;
}

.main {
  margin: 20px;
}

#needs-restart {
  color: var(--google-yellow-300);
}