[package]
name = "gnrt"
version = "0.0.0"
edition = "2021"

[lib]
name = "gnrt_lib"
path = "lib/lib.rs"

[[bin]]
name = "gnrt"
path = "main.rs"

[dependencies]
anyhow = "1"
cargo_metadata = "0.15"
cargo-platform = "0.1"
clap = {version = "4", features = ["derive"]}
handlebars = "4.3.7"
itertools = "0.12"
flate2 = "1"
reqwest = {version = "0.11", features = ["blocking"]}
log = { version = "0.4", features = ["std"] }
once_cell = "1"
semver = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tar = "0.4"
toml = "0.5"

[dependencies.env_logger]
version = "0.10"
default-features = false
features = ["color"]

[dev-dependencies]
tempfile = "3"
