/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=vars
 * #import=//resources/ash/common/cr_elements/cr_shared_vars.css.js
 * #css_wrapper_metadata_end */

    html {
      /* Buttons */
      --oobe-button-border-color: white;
      --oobe-button-radius: 4px;

      --oobe-back-button-padding-inline-end: 16px;
      --oobe-back-button-padding-inline-start: 8px;

      --oobe-next-button-padding-inline-end: 8px;
      --oobe-next-button-padding-inline-start: 16px;

      --oobe-button-icon-margin: 4px;

      --oobe-button-icon-size: 28px;

      --oobe-button-height: 44px;

      /* Fonts */
      --oobe-header-font-size: 32px;
      --oobe-header-line-height: 40px;
      --oobe-header-font-weight: 500; /* medium */

      --oobe-subheader-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-subheader-font-size: 22px;
      --oobe-subheader-line-height: 28px;

      --oobe-default-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-default-font-size: 22px;
      --oobe-default-line-height: 28px;

      --oobe-button-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-button-font-size: 22px;
      --oobe-button-font-weight: 500;

      --oobe-welcome-left-button-font-family: var(--oobe-button-font-family);
      --oobe-welcome-left-button-font-size: var(--oobe-button-font-size);
      --oobe-welcome-left-button-font-weight: var(--oobe-button-font-weight);

      --oobe-select-font-size: 18px;
      --oobe-select-line-height: 24px;

      --oobe-welcome-header-font-size: 36px;
      --oobe-welcome-header-font-weight: 400; /* regular */
      --oobe-welcome-header-line-height: 44px;

      --oobe-welcome-subheader-font-size: 24px;
      --oobe-welcome-subheader-line-height: 32px;

      --oobe-content-dialog-font-family: var(--oobe-default-font-family);
      --oobe-content-dialog-font-size: var(--oobe-default-font-size);
      --oobe-content-dialog-font-weight: var(--oobe-default-font-weight);
      --oobe-content-dialog-line-height: var(--oobe-default-line-height);

      --oobe-modal-dialog-header-font-family: var(--oobe-default-font-family);
      --oobe-modal-dialog-header-font-size:
          var(--oobe-modal-dialog-header-font-size);
      --oobe-modal-dialog-header-font-weight:
          var(--oobe-modal-dialog-header-font-weight);

      --oobe-modal-dialog-content-font-family: var(--oobe-default-font-family);
      --oobe-modal-dialog-content-font-size: var(--oobe-default-font-size);
      --oobe-modal-dialog-content-font-weight: var(--oobe-default-font-weight);
      --oobe-modal-dialog-content-line-height: var(--oobe-default-line-height);

      --oobe-sync-consent-list-item-title-font-size: 14px;
      --oobe-sync-consent-list-item-title-font-weight: 500;
      --oobe-sync-consent-list-item-title-line-height: 24px;

      --oobe-sync-consent-card-title-font: var(--cros-headline-1-font);
      --oobe-sync-consent-card-subtitle-font: var(--cros-body-1-font);
      --oobe-sync-consent-tooltip-text-font: var(--cros-body-2-font);

      --oobe-hw-data-collection-usage-line-height: 18px;

      --oobe-smart-privacy-item-title-font-size: 14px;
      --oobe-smart-privacy-item-title-font-weight: 500; /* roboto-medium */
      --oobe-smart-privacy-item-title-line-height: 24px;

      --oobe-enable-debugging-font-size: 12px;

      --oobe-demo-preferences-selection-title-font-size: 13px;
      --oobe-demo-preferences-number-input-font-size: 10px;

      --oobe-gesture-navigation-list-item-font-size: 15px;

      --oobe-encryption-migration-warning-line-height: 22px;

      --oobe-reset-firmware-update-line-height: 20px;

      --oobe-guest-tos-terms-title-font-family: var(--oobe-header-font-family);
      --oobe-guest-tos-terms-title-font-size: 18px;
      --oobe-guest-tos-terms-title-font-weight: var(--oobe-header-font-weight);
      --oobe-guest-tos-terms-title-line-height: 24px;

      --oobe-consolidated-consent-terms-title-font-family:
          var(--oobe-header-font-family);
      --oobe-consolidated-consent-terms-title-font-size: 18px;
      --oobe-consolidated-consent-terms-title-font-weight:
          var(--oobe-header-font-weight);
      --oobe-consolidated-consent-terms-title-line-height: 24px;

      --oobe-optin-row-font-size: 13px;

      --oobe-optin-title-font-family: var(--oobe-default-font-family);
      --oobe-optin-title-font-weight: var(--oobe-header-font-weight);

      --oobe-autolaunch-app-name-font-size: 22px;

      /* Select */
      --oobe-select-height: 44px;

      /* Dialog */
      --oobe-adaptive-dialog-icon-size: 48px;
      --oobe-adaptive-dialog-icon-fill-color: var(--cros-sys-primary);

      /* Welcome screen */
      --selection-entry-height: 72px;
      --a11y-option-height: 78px;

      /* Network screen */
      --oobe-network-row-height: 78px;
    }

    html.jelly-enabled {
      /* Button Color */
      --oobe-button-icon-fill-color-bg-transparent:
          var(--cros-color-prominent-light);
      --oobe-icon-button-text-color-bg-transparent:
          var(--cros-color-prominent-light);
      --oobe-adaptive-dialog-icon-fill-color: var(--cros-color-prominent-light);

      /* Font */
      --oobe-button-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-button-font-size: 22px;
      --oobe-button-font-weight: 500;

      --oobe-welcome-left-button-font-family: var(--oobe-button-font-family);
      --oobe-welcome-left-button-font-size: var(--oobe-button-font-size);
      --oobe-welcome-left-button-font-weight: var(--oobe-button-font-weight);
    }
