/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  background-color: var(--color-new-tab-page-module-background);
  border-radius: var(--ntp-module-border-radius);
}

@media (forced-colors: active) {
  /* Set outline since background isn't visible in hcm */
  a {
    border-radius: var(--ntp-module-item-border-radius);
    outline: var(--cr-border-hcm);
   }

  .file {
    overflow: visible;
  }
}

:host-context(.focus-outline-visible) a:focus,
a:focus-visible {
  box-shadow: var(--ntp-focus-shadow);
  outline: none;
}

#files {
  background-color: var(--color-new-tab-page-module-item-background);
  border-radius: var(--ntp-module-item-border-radius);
  margin: 8px;
}

.file {
  align-items: center;
  display: flex;
  height: 56px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.file:hover #hover-layer {
  background: var(--color-new-tab-page-module-item-background-hovered);
  display: block;
  inset: 0;
  pointer-events: none;
  position: absolute;
}

#hover-layer {
  display: none;
}

.file:first-of-type {
  border-radius: var(--ntp-module-item-border-radius)
      var(--ntp-module-item-border-radius) 0 0;
  padding-top: var(--ntp-module-first-element-top-padding);
}

.file:last-of-type {
  border-radius: 0 0 var(--ntp-module-item-border-radius)
      var(--ntp-module-item-border-radius);
  padding-bottom: var(--ntp-module-first-element-top-padding);
}

.icon-container {
  align-items: center;
  background-color: var(--color-new-tab-page-module-icon-background);
  border-radius: 8px;
  display: flex;
  flex-shrink: 0;
  height: var(--ntp-module-icon-size);
  justify-content: center;
  margin-inline: 8px;
  position: relative;
  width: var(--ntp-module-icon-size);
}

.file-icon {
  height: 24px;
  width: 24px;
}

.file-info {
  min-width: 0;
  padding-inline-end: 16px;
}

.file-title,
.file-description {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-title {
  color: var(--color-new-tab-page-primary-foreground);
  font-size: var(--ntp-module-text-size);
  line-height: var(--ntp-module-line-height);
}

.file-description {
  color: var(--color-new-tab-page-secondary-foreground);
  font-size: var(--ntp-module-secondary-text-size);
  line-height: var(--ntp-module-secondary-line-height);
}
