/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

#toolEnabledButton {
  align-items: center;
  background-color:
    var(--color-composebox-context-entrypoint-hover-background);
  border: none;
  color: var(--color-searchbox-results-foreground);
  display: flex;
  font-size: 13px;
  gap: 2px;
  height: 36px;
  justify-content: center;
  padding-bottom: 6px;
  padding-inline: 8px 12px;
  padding-top: 6px;
}

#toolEnabledButton .icon-container {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  position: relative;
  width: 24px;
}

#toolEnabledButton .tool-icon,
#toolEnabledButton .close-icon {
  height: 16px;
  position: absolute;
  transition: opacity 150ms;
  width: 16px;
}

#toolEnabledButton .tool-icon {
  padding-top: 3px;
}

#toolEnabledButton .close-icon {
  opacity: 0;
}

#toolEnabledButton:hover .close-icon,
#toolEnabledButton:focus .close-icon {
  opacity: 1;
}

#toolEnabledButton:hover .tool-icon,
#toolEnabledButton:focus .tool-icon {
  opacity: 0;
}
