/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=./pdf_shared.css.js
 * #import=./shared_vars.css.js
 * #include=pdf-shared
 * #css_wrapper_metadata_end */

:host {
  --dropdown-button-size: 32px;
  display: flex;
  position: relative;
}

cr-button {
  --cr-focus-outline-color: var(--viewer-icon-focus-outline-color);
  --iron-icon-fill-color: var(--viewer-icon-ink-fill-color);
  border: none;
  height: var(--dropdown-button-size);
  width: var(--dropdown-button-size);
  margin: 0;
  min-width: auto;
}

cr-button[data-selected="true"] {
  --iron-icon-fill-color: var(--viewer-icon-ink-selected-fill-color);
  background-color: var(--viewer-icon-ink-selected-background-color);
}

div {
  background-color: var(--viewer-side-background-color);
  bottom: 48px;
  border-radius: 8px;
  left: 50%;
  margin-bottom: 4px;
  padding: 0 8px;
  position: absolute;
  transform: translateX(-50%);
}
