body {
  font-size: 1.4815vh;  /* Corresponds to 16px at 1080p. */
}

#hudFrame {
  position: absolute;
  top: 85%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.6);
  color: #FFFFFF;
}

#hud {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
  bottom: 0.625em;
  right: 0.625em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  border: 0.0625em;
  border-color: #606060;
  border-style: solid;
  padding: 0.625em;
}

#consoleFrame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 15%;
  right: 0;
  background-color: rgba(128, 128, 128, 0.6);
  color: #FFFFFF;
  overflow: hidden;
}

#messageContainerFrame {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
  bottom: 2.5em;
  right: 0.625em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  overflow: hidden;
  border: 0.0625em;
  border-color: #606060;
  border-style: solid;
  padding: 0.625em;
}

#messageContainer {
  position: absolute;
  bottom: 0.625em;
  font-family: monospace;
}

#in {
  position: absolute;
  left: 0.625em;
  bottom: 0;
  right: 0.625em;
  height: 1.25em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  white-space: pre;
  font-family: monospace;
  border: 0.0625em;
  border-color: #606060;
  border-style: solid;
  padding: 0.625em;
}
