caption: Allow user to configure their device hostname
default: false
desc: |-
  Determine whether a user is allowed to configure the device hostname.

        If <ph name="DEVICE_HOSTNAME_TEMPLATE_POLICY_NAME">DeviceHostnameTemplate</ph> is set, the admininistrator sets hostname and the user cannot choose regardless of what this policy is set to.
        If this policy is set to True and <ph name="DEVICE_HOSTNAME_TEMPLATE_POLICY_NAME">DeviceHostnameTemplate</ph> is not set, the admininistrator does not set hostname and the user can choose one.
        If this policy is set to False and <ph name="DEVICE_HOSTNAME_TEMPLATE_POLICY_NAME">DeviceHostnameTemplate</ph> is not set, the admininistrator does not set hostname and the user cannot choose one, hence the default name is used.
device_only: true
example_value: true
features:
  can_be_mandatory: true
  dynamic_refresh: true
  per_profile: false
items:
- caption: Allow managed user to configure device hostname
  value: true
- caption: Prevent managed user from configuring device hostname
  value: false
owners:
- khorimoto@google.com
- cros-device-enablement@google.com
schema:
  type: boolean
supported_on:
- chrome_os:97-
tags: []
type: main
generate_device_proto: False
