/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color-scheme: light dark;
  --color--secondary-container: light-dark(#C2E7FF, #004A77);
  --color--on-surface: light-dark(#1B1C1D, #FFFFFF);
  --color--on-secondary-container: light-dark(#004A77, #C2E7FF);
  --color--error: light-dark(#B3261E, #F2B8B5);
  --color--primary: light-dark(#0B57D0, #A8C7FA);
  --color--surface: light-dark(#FFFFFF, #1B1C1D);
  --color--on-surface-variant: light-dark(#575B5F, #A2A9B0);
  --color--surface-container: light-dark(#F0F4F9, #282A2C);
}

html, body {
  margin: 0;
  height: 100%
}

body {
  overflow: hidden;
  user-select: none;
}

#glic-app-container {
  width: 100%;
  height: 100%;
  display: block;
}

#glic-app-container[hidden] {
  display: none;
}

webview:not([hidden]) {
  display: block;
  height: 100%;
}

.dialog {
  position: absolute;
  left: 0;
  right: 0;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color--on-surface);
}

#localPanels {
  height: 100%;
}

#localPanels .dialog {
  height: 100%;
}

.dialog .container {
  background: var(--color--surface-container);
  color: var(--color--on-surface-variant);
}

#localPanels .container {
  display: flex;
  flex-direction: column;
  background: var(--color--surface);
  height: 100%
}

#loadingPanel {
  width: 100%;
}

#loadingPanel .container {
  padding-bottom: 0px;
  background: var(--color--surface);
}

#loadingPanel .secondline {
  padding: 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

#loadingPanel #sidePanelLoading .secondline {
  flex-direction: column;
  height: 100%;
}

#loadingPanel #floatingLoading .p1 {
  flex: 1;
  height: 17px;
  margin-right: 60px;
  margin-top: 4px;
  border-radius: 5px;
}

#loadingPanel #floatingLoading .p2 {
  height: 16px;
  width: 76px;
  padding: 8px 2px;
  border-radius: 16px;
}

#loadingPanel #floatingLoading .p3 {
  height: 16px;
  width: 28px;
  padding: 8px 2px;
  border-radius: 8px;
}

#loadingPanel #sidePanelLoading .p1 {
  height: 17px;
  width: 78px;
  margin-top: 4px;
  border-radius: 12px;
}

.header-right-align {
  display: flex;
}

#loadingPanel #sidePanelLoading .p2 {
  height: 17px;
  width: 78px;
  margin-top: 4px;
  border-radius: 12px;
}

.center-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#loadingPanel #sidePanelLoading .p3 {
  max-height: 244px;
  flex-basis: 50%;
  border-radius: 12px;
  margin-top: 48px;
  margin-bottom: 18px;
}

#loadingPanel #sidePanelLoading .p4 {
  height: 112px;
  border-radius: 12px;
}

.panel .header {
  padding: 12px 20px 12px 12px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  cursor: grab;
}

#loadingPanel .header {
  padding-bottom: 8px;
}

.floating #sidePanelLoading {
  display: none;
}

.sidePanel #floatingLoading {
  display: none;
}

.panel .logo {
  padding: 0 0 0 2px;
}

/* Adjust brightness of SVG logo */
@media (prefers-color-scheme: light) {
  .panel .logo {
    filter: brightness(53.6%);
  }
}

.panel .close-button {
  --cr-icon-button-size: 24px;
  --cr-icon-button-icon-size: 20px;
  color: var(--color--on-surface-variant);
}

.dialog .notice {
  background-color: var(--color--surface);
  color: var(--color--on-surface);
  border-radius: 10px;
  padding: 12px;
  text-align: center;
}

#localPanels .notice {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice .icon {
  color: var(--color--error);
}

#disabledByAdminPanel .notice .icon {
  /* This isn't considered an error, so use primary color. */
  color: var(--color--primary);
}

#disabledByAdminPanel .without-link {
  display: inline-block;
}

#disabledByAdminPanel .with-link {
  display: none;
}

#disabledByAdminPanel.show-disabled-by-admin-link .with-link {
  display: inline-block;
}

#disabledByAdminPanel.show-disabled-by-admin-link .without-link {
  display: none;
}

.dialog p {
  margin: 0 0 8px;
}

.dialog .headline {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0 4px;
}

.notice-message {
  width: 300px;
}

/* Guest panel contains glic webview. If in the show-header state, a header
   will also be visible. */
#guestPanel {
  width: 100%;
  height: 100%;
  border: 0;
}

.hidden {
 display: none;
}

.outerheader {
  background: var(--color--surface);
  position: absolute;
  width: 100%;
  height: 48px;
}

#webviewHeader {
  display: none;
}

#guestPanel.show-header #webviewHeader {
  display: block;
}

#webviewContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#guestPanel.show-header #webviewContainer {
  position: absolute;
  width: 100%;
  /* If showing a login page, the window height will always be 800px */
  height: 752px;
  bottom: 0;
}

.tonal-button {
  background-color: var(--color--secondary-container);
  color: var(--color--on-secondary-container);
}

#debug {
  position: absolute;
  right: 30px;
}

cr-progress {
  width: 80%;
  margin: 20px 10% 0;
  --cr-progress-active-color: #A8C7FA;
}

.placeholder {
  background-color: var(--color--surface-container);
  animation: 1s infinite ease-in-out opacity-fade;
}

@keyframes opacity-fade {
  0% {
    opacity: 100%;
  }
  33% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.p2 {
  animation-delay: 0.1s;
}

.p3 {
  animation-delay: 0.2s;
}

.p4 {
  animation-delay: 0.3s;
}

.p5 {
  animation-delay: 0.4s;
}

.p6 {
  animation-delay: 0.5s;
}

.p7 {
  animation-delay: 0.6s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100vh;
  display: block;
  align-content: center;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.overlay.hidden {
  opacity: 0;
  transition-delay: 0.2s;
  pointer-events: none;
}

.overlay .container {
  text-align: center;
}

.overlay .message {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color--on-surface);
  background-color: var(--color--surface);
  padding: 12px;
  margin: 0 20px;
  border-radius: 10px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.overlay.hidden .message {
  opacity: 0;
  transition-delay: 0s
}

.overlay cr-icon {
  color: var(--cr-fallback-color-primary);
  width: 20px;
  height: 20px;
}

#fre-app-container #freLoadingPanel .header {
  position: static;
  display: flex;
  justify-content: space-between;
}

#fre-app-container #freLoadingPanel .container {
  padding: 16px;
}

#fre-app-container #freLoadingPanel .title {
  display: block;
  width: 70px;
  height: 20px;
  border-radius: 12px;
}

#fre-app-container .a {
  width: 90px;
  height: 45px;
  border-radius: 48px;
  align-self: flex-start;
  margin-bottom: 16px;
}

#fre-app-container .b {
  height: 56px;
  margin-bottom: 16px;
}

#fre-app-container .c {
  height: 118px;
}

#fre-app-container .e {
  height: 94px;
  margin-bottom: 16px;
}

#fre-app-container .f {
  height: 32px;
  margin-bottom: 12px;
}

#panelContainer #fre-app-container .g {
  width: auto;
  flex: 1;
  height: 32px;
}

#freLoadingPanel .container {
  background: var(--color--surface);
}
