# llvmorg-21-init-11777-gfd3fecfc-1
platform=container-image=docker://gcr.io/chops-private-images-prod/rbe/chromium-browser-clang/mac-cross@sha256:678c9c06609bf2a9d638a47b15ea0b53ce59d4e11f149653eaae41e8f866ce8e,OSFamily=Linux,label:action_default=1
server_address=unix:///tmp/reproxy.sock
labels=type=compile,compiler=clang,lang=cpp
exec_strategy=racing
remote_wrapper=/chromium-browser-clang/run.sh
dial_timeout=10m
exec_timeout=2m
reclient_timeout=4m
canonicalize_working_dir=true
