/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #css_wrapper_metadata_end */

.card {
  margin-bottom: 44px;
}

.credential-container {
  padding: 12px var(--cr-form-field-bottom-spacing) var(--cr-section-padding);
}

.row-container {
  display: flex;
  margin-top: 16px;
}

.column-container {
  flex: 50%;
  max-width: 50%;
}

.button-container {
  border-top: var(--cr-separator-line);
  display: flex;
  margin-top: 12px;
  padding: var(--cr-form-field-bottom-spacing) var(--cr-section-padding);
}

a.site-link {
  max-width: 324px;
}

.cr-form-field-label {
  margin-bottom: 8px;
}

.card-title {
  color: var(--cr-secondary-text-color);
  margin: 5px 0;
}

.edit-button {
  margin-inline-end: var(--cr-button-edge-spacing);
}

#domainLabel {
  color: var(--cr-input-label-color);
  font-size: 11px;
  line-height: 16px;
}
