/*
 * Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 10px 0 10px 20px;
  padding-block-end: 65px;
}

img {
  float: left;
  height: 16px;
  padding-inline-end: 5px;
  width: 16px;
}

.row {
  border-bottom: 1px solid rgb(128, 134, 139);
  padding: 5px;
}

.url {
  color: rgb(95, 99, 104);
}

p {
  line-height: 1.5em;
  margin-inline-end: 20px;
}

.columns {
  display: flex;
}

.column {
  flex-basis: 50%;
}

.checkbox-row {
  align-items: center;
  display: flex;
}

.checkbox-wrapper {
  flex-grow: 0;
  margin: 0 0 2px 0;
  padding: 0;
  width: 32px;
}

.secondary {
  color: rgb(60, 64, 67);
  margin: 0 20px 12px 32px;
}

.hidden {
  display: none;
}

a, span.readOnlyMode {
  margin-block-end: 10px;
  margin-block-start: 10px;
  margin-inline-start: 20px;
}

label {
  flex-grow: 1;
  margin: 0 0 2px 0;
  padding: 0;
}

label.disabled {
  color: rgb(128, 134, 139);
}

input[type='checkbox'] {
  margin-inline-end: 6px;
}

/* For mobile phones we want to use a one column layout */
@media only screen and (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }

  .columns {
    flex-direction: column;
    flex-wrap: wrap;
  }

  body {
    font-size: 15px;
  }

  pre div {
    margin-bottom: .5em;
  }

  input[type='checkbox'] {
    height: 16px;
    width: 16px;
  }
}
