/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://customize-chrome-side-panel.top-chrome/shared/sp_shared_style_lit.css.js
 * #scheme=relative
 * #include=sp-shared-style-lit
 * #css_wrapper_metadata_end */

#showToggleContainer {
  align-items: center;
  display: flex;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: var(--sp-card-padding);
}

#showToggleTitle {
  flex-grow: 1;
}

#cards {
  display: flex;
  margin: 0;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: var(--sp-card-padding);
  padding-inline-start: 32px;
}

.card-name {
  font-size: inherit;
  line-height: inherit;
}

.card-checkbox {
  width: 16px;
}

.card-option-name {
  margin-inline-start: 40px;
}

cr-collapse {
  --iron-collapse-transition-duration: 300ms;
  width: 100%;
}

hr {
  margin: var(--sp-card-block-padding) var(--sp-card-inline-padding);
  width: auto;
}

cr-toggle {
  margin-inline-start: 16px;
}
