/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://customize-chrome-side-panel.top-chrome/shared/sp_shared_style_lit.css.js
 * #import=./toggle_container_shared.css.js
 * #scheme=relative
 * #include=sp-shared-style-lit toggle-container-shared
 * #css_wrapper_metadata_end */

#showToggleTitle {
  flex-grow: 1;
}

#cards {
  display: flex;
  margin: 0;
}

.card {
  margin: 0;
  padding: var(--sp-card-padding);
  padding-inline-start: 32px;
}

.card:hover {
  background-color: var(--cr-hover-background-color);
  cursor: pointer;
}

.card:focus {
  background-color: var(--cr-menu-background-focus-color);
  outline: none;
}

.card-checkbox::part(label-container) {
  flex-grow: 1;
}

cr-collapse {
  --iron-collapse-transition-duration: 300ms;
  width: 100%;
}

.sp-hr {
  margin: var(--sp-card-block-padding) var(--sp-card-inline-padding);
  width: auto;
}

cr-toggle {
  margin-inline-start: 16px;
}
