body {
  font-size: 1.4815vh;  /* Corresponds to 16px at 1080p. */
}

#hudFrame {
  position: absolute;
  top: 85%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.6);
  color: #FFFFFF;
  display: none;
}
body.hud #hudFrame {
  display: block;
}

#hud {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
  bottom: 0.625em;
  right: 0.625em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  border: 0.0625em;
  border-color: #606060;
  border-style: solid;
  padding: 0.625em;
}

#debugConsoleFrame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 15%;
  right: 0;
  background-color: rgba(128, 128, 128, 0.6);
  color: #FFFFFF;
  overflow: hidden;
  display: none;
}
body.debugConsole #debugConsoleFrame {
  display: block;
}

#messageContainerFrame {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
  bottom: 2.5em;
  right: 0.625em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  overflow: hidden;
  border: 0.0625em;
  border-color: #606060;
  border-style: solid;
  padding: 0.625em;
}

#messageContainer {
  position: absolute;
  bottom: 0.625em;
  width: 100%;
  font-family: monospace;
}

.message {
  white-space: pre-wrap;
  margin-right: 1em;
  color: rgb(255, 255, 255);
}

.message.verbose {
  color: rgb(160, 160, 160);
}

.message.verbose.console {
  background: rgba(80, 80, 80, 0.6);
}

.message.info {
  color: rgb(160, 255, 160);
}

.message.info.console {
  background: rgba(80, 128, 80, 0.6);
}

.message.debug {
  color: rgb(192, 192, 192);
}

.message.debug.console {
  background: rgba(96, 96, 96, 0.6);
}

.message.warning {
  color: rgb(255, 255, 128);
}

.message.warning.console {
  background: rgba(128, 128, 64, 0.6);
}

.message.error {
  color: rgb(255, 144, 128);
}

.message.error.console {
  background: rgba(128, 72, 64, 0.6);
}

#in {
  position: absolute;
  left: 0.625em;
  bottom: 0;
  right: 0.625em;
  height: 1.25em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  white-space: pre;
  font-family: monospace;
  border: 0.0625em;
  border-color: #606060;
  border-style: solid;
  padding: 0.625em;
}

#mediaConsoleFrame {
  position: absolute;
  top: 75%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.6);
  color: #FFFFFF;
  display: none;
}
body.mediaConsole #mediaConsoleFrame {
  display: block;
}

#mediaConsole {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
  bottom: 0.625em;
  right: 0.625em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  border: 0.0625em;
  border-color: #606060;
  border-style: solid;
  padding: 0.625em;
  white-space: pre;
}
