# Steps to update requirements.txt:
#
# 1)  Build the container:
#
#     docker build -f cobalt/tools/python_requirements/Dockerfile -t pyreq cobalt/tools/python_requirements
#
# 2)  Run the container:
#
#     docker run -it -v .:/code pyreq

grpcio==1.76.0
grpcio-tools==1.76.0
