/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

 /* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

.has-icon-false {
  display: none;
}

.has-icon-true {
  display: inline-flex;
}

.check-mark-showing-true {
  visibility: visible;
}

.check-mark-showing-false {
  visibility: hidden;
}

.check-mark {
  margin: 0;
}

.dropdown-item {
  align-items: center;
  font-size: 13px;
  min-width: 180px;
  padding-left: 20px;
}

cr-icon {
  --icon-size: 20px;
  height: var(--icon-size);
  margin: 0px 8px 0px 4px;
  width: var(--icon-size);
}
