@font-face {
  font-family: 'networkfont';
  src: url('../test_font.ttf');
}

body {
  background-color: white;
  color: navy;
  font-family: 'networkfont';
}

img {
  width: 500px;
  height: 500px;
  background-color: black;
}
