name: linux

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]
    branches:
      - main
      - experimental/*
      - feature/*
  push:
    branches:
      - main
      - experimental/*
      - feature/*

jobs:
  # This is default Chromium build config
  chromium_linux-x64:
    uses: ./.github/workflows/main.yaml
    permissions:
      packages: write
      pull-requests: write
    with:
      platform: chromium_linux
    secrets:
      datadog_api_key: ${{ secrets.DD_API_KEY }}
