name: python-tests

on:
  pull_request:
  push:
    branches:
      - main
      - feature/*

concurrency:
  group: '${{ github.workflow }}-${{ github.event_name }}-${{ inputs.platform }} @ ${{ github.event.pull_request.number || github.sha }}'
  cancel-in-progress: true

permissions: {}

jobs:
  python-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.8', '3.11']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: kaidokert/checkout@v3.5.999
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install Pip Packages
        run: pip install --require-hashes --no-deps -r ${{ github.workspace }}/docker/pytest/requirements.txt
      - name: Run Tests
        run: coverage run -m pytest
      - name: Coverage Report
        run: coverage report -m
