name: stub

on:
  pull_request:
    types: [ready_for_review, opened, reopened, synchronize, labeled]
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      nightly:
        description: 'Nightly workflow.'
        required: true
        type: boolean
        default: false

jobs:
  stub:
    uses: ./.github/workflows/main.yaml
    permissions:
      packages: write
      pull-requests: write
    with:
      platform: stub
      nightly: 'false'
