name: Sync Chromium branches
on:
  workflow_dispatch:
  # Runs everyday at midnight UTC.
  schedule:
    - cron:  '0 0 * * *'
permissions: read-all
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        # Found here: https://chromiumdash.appspot.com/branches
        branch: [
          {milestone: m114, branch_num: 5735},
          {milestone: m120, branch_num: 6099},
          {milestone: m126, branch_num: 6478},
          {milestone: m132, branch_num: 6834},
          {milestone: m138, branch_num: 7204},
          {milestone: m144, branch_num: 7559},
        ]
    steps:
      # Attempt to checkout our Chromium reference, if missing, create a new branch
      - uses: actions/checkout@v4
        id: checkout
        continue-on-error: true
        with:
          ref: chromium/${{ matrix.branch.milestone }}
          fetch-depth: 1
          filter: blob:none
      - name: Run fallback actions/checkout@v4
        uses: actions/checkout@v4
        if: steps.checkout.outcome == 'failure'
        with:
          ref: main
          fetch-depth: 1
          filter: blob:none
      - name: Set up Git
        run: |
          git config --global user.name "GitHub Release Automation"
          git config --global user.email "github@google.com"
          # Add Chromium remote and pull the upstream branch.
          git remote add upstream https://chromium.googlesource.com/chromium/src
          git fetch --depth=1 upstream "refs/branch-heads/${{ matrix.branch.branch_num }}:refs/remotes/branch/${{ matrix.branch.branch_num }}"
      - name: Create missing Chromium branch
        if: steps.checkout.outcome == 'failure'
        run: |
          git checkout "refs/remotes/branch/${{ matrix.branch.branch_num }}"
          ORIGINAL_TREE_HASH=$(git rev-parse "HEAD^{tree}")
          ORIGINAL_COMMIT_HASH=$(git rev-parse HEAD)
          NEW_ROOT_COMMIT_HASH=$(git commit-tree "${ORIGINAL_TREE_HASH}" -m "First commit for ${{ matrix.branch.milestone }}.")
          git checkout -b "chromium/${{ matrix.branch.milestone }}" "${NEW_ROOT_COMMIT_HASH}"
          git commit --amend --no-edit -c "${ORIGINAL_COMMIT_HASH}"
          git push --set-upstream origin "chromium/${{ matrix.branch.milestone }}"
      - name: Create upstream diff
        run: |
          git diff HEAD "branch/${{ matrix.branch.branch_num }}" --binary > chromium_diff.patch
      - name: Apply and Push upstream diff
        id: push_diff
        run: |
          if [ -s chromium_diff.patch ]; then
            echo "Applying diff..."
            git apply --index chromium_diff.patch
            git commit -m "Rebase refresh on $(date +'%Y-%m-%d') for ${{ matrix.branch.milestone }}."
            git push --force origin "chromium/${{ matrix.branch.milestone }}"
            DIFF_COMMIT_HASH=$(git rev-parse HEAD)
            echo "main_cherry_pick=true" >> "$GITHUB_OUTPUT"
            echo "main_cherry_pick_hash=${DIFF_COMMIT_HASH}" >> "$GITHUB_OUTPUT"
          else
            echo "No diff to apply."
            echo "main_cherry_pick=false" >> "$GITHUB_OUTPUT"
          fi
      - uses: actions/checkout@v4
        id: checkout_cherry_pick_main_sync
        if: steps.push_diff.outputs.main_cherry_pick == 'true' && contains(matrix.branch.milestone, 'm138')
        with:
          ref: cherry-pick-main-sync
          fetch-depth: 16
          filter: blob:none
      - name: Cherry Pick upstream diff to main
        if: steps.checkout_cherry_pick_main_sync.outcome == 'success'
        run: |
          git pull --rebase origin main
          if ! git cherry-pick "${{ steps.push_diff.outputs.main_cherry_pick_hash }}"; then
            git status | sed -n "s/^[[:space:]]*deleted by us:[[:space:]]*//p" | xargs -d "\n" git rm
            git add .
            git cherry-pick --continue --no-edit
          fi
          git push origin cherry-pick-main-sync --force
          if [ -z "$(gh pr list -H cherry-pick-main-sync)" ]; then
            gh pr create -B main -H cherry-pick-main-sync --fill -r "briantting"
          else
            echo "Pull Request already exists."
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
