/* Copyright 2016 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:root {
  --dark-primary-color: rgb(25, 118, 210);
  --darker-primary-color: rgb(13, 71, 161);
  --divider-border: 1px solid #bdbdbd;
  --fade-duration: 225ms;
  --header-height: 48px;
  --md-timing-function: cubic-bezier(.4, 0, .6, 1);
  --primary-color: rgb(33, 150, 243);
  --section-padding: 1em;
  --sidebar-neg-width: calc(var(--sidebar-width) * -1);
  --sidebar-width: 155px;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(92, 97, 102);
}

/* Page container */
#page-container {
  margin-inline-start: var(--sidebar-width);
}

@media screen and (max-width: 600px) {
  #page-container {
    margin-inline-start: 0;
  }
}

/* Page content */
#page-container > section {
  padding: var(--section-padding);
}

#page-container .services {
  margin: 0 calc(var(--section-padding) * -1);
}

#page-container .header-extras {
  align-items: flex-end;
  display: flex;
  height: var(--header-height);
  justify-content: flex-end;
  left: 0;
  margin-inline-end: var(--section-padding);
  margin-inline-start: var(--sidebar-width);
  position: fixed;
  right: 0;
  top: 0;
}

<if expr="chromeos_ash">
#restart-bluetooth-btn {
  margin-inline-end: 6px;
}
</if>

/* Page header */
.page-header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #eee;
  display: flex;
  height: var(--header-height);
  padding-top: 8px;
  position: sticky;
  top: 0;
}

.page-header > h1 {
  margin: 13px 0;
}

#menu-btn {
  background-color: transparent;
  background-image: url(./menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  display: none;
  height: 48px;
  margin: 0;
  width: 48px;
}

@media screen and (max-width: 600px) {
  #menu-btn {
    display: block;
  }

  .page-header > h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
  }
}

/* Sidebar */
#sidebar {
  --transform-duration: 195ms;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility var(--transform-duration);
  width: var(--sidebar-width);
}

@media screen and (max-width: 600px) {
  #sidebar {
    visibility: hidden;
    width: auto;
  }

  #sidebar.open {
    visibility: visible;
  }
}

/* Sidebar Contents */
.sidebar-content {
  background-color: white;
  height: 100%;
  transition-timing-function: var(--md-timing-function);
  width: var(--sidebar-width);
}

.sidebar-content > header > h1 {
  margin: 0;
  padding: 21px 0 18px 23px;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-content button {
  background-color: transparent;
  border: 0;
  color: #999;
  cursor: pointer;
  font: inherit;
  height: 40px;
  overflow: hidden;
  padding-inline-start: var(--section-padding);
  text-align: start;
  width: 100%;
}

.sidebar-content .selected button {
  border-inline-start: 6px solid rgb(78, 87, 100);
  color: rgb(70, 78, 90);
  padding-inline-start: 10px;
}

.sidebar-content button:hover {
  background-color: #e0e0e0;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: visibility var(--fade-duration),
      opacity var(--fade-duration) var(--md-timing-function);
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .sidebar-content {
    transform: translate3d(var(--sidebar-neg-width), 0, 0);
    transition: transform var(--transform-duration);
  }

  .open .sidebar-content {
    transform: translate3d(0, 0, 0);
    transition: transform var(--transform-duration);
  }

  .open .overlay {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 601px) {
  .flex {
    display: flex;
  }
}

/* Device Details Page */
.device-details-page section,
.info-container fieldset {
  margin-inline-start: 1em;
}
